<template>
    <div>
  <v-app>
          <v-btn flat icon dark large color="black" @click.stop="drawer = !drawer">
              <v-icon>dashboard</v-icon>
          </v-btn>

  
      <v-navigation-drawer v-model="drawer" absolute temporary>
        <v-list class="pt-0" dense>
  
          <v-list-tile @click="area = 1">
            <v-list-tile-action>
              <v-icon>add</v-icon>
            </v-list-tile-action>
  
            <v-list-tile-content>
              <v-list-tile-title>Add Garbage</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="area = 2">
            <v-list-tile-action>
              <v-icon>update</v-icon>
            </v-list-tile-action>
  
            <v-list-tile-content>
              <v-list-tile-title>Update Garbage</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="area = 3">
            <v-list-tile-action>
              <v-icon>update</v-icon>
            </v-list-tile-action>
  
            <v-list-tile-content>
              <v-list-tile-title>Delete Garbage</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>

        <div v-show="area === 1" style="width:60%; margin:0 auto;">
        <v-container grid-list-xl text-xs-center>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card-text>
                  <h3>Add Garbage</h3>
                </v-card-text>
            </v-flex>
            <v-layout>
                    <v-flex xs12 sm5 md4>
                        <h4>Type</h4>
                    </v-flex>
                    <v-flex xs12 sm5 md4>
                        <h4>Name</h4>
                    </v-flex>
                    <v-flex xs12 sm5 md4>
                        <h4>Value</h4>
                    </v-flex>
                </v-layout>
            <v-flex xs12 style="border-bottom:1px solid gray; margin-bottom:20px; padding-bottom:20px;">
                <v-layout v-for="waste in waste_ar">
                    <v-flex xs12 sm5 md4>
                        <h5>{{ waste.Type }}</h5>
                    </v-flex>
                    <v-flex xs12 sm5 md4>
                        <h5>{{ waste.Name }}</h5>
                    </v-flex>
                    <v-flex xs12 sm5 md4>
                        <h5>{{ waste.Value }} ฿ / Kg.</h5>
                    </v-flex>
                </v-layout>
            </v-flex>
            
            <v-flex xs12 sm5 md3>
                <v-select v-model="type_add" :items="type_value" label="Type" required></v-select>
            </v-flex>
            <v-flex xs12 sm5 md3>
                <v-text-field v-model="name_add" label="Name" required></v-text-field>
            </v-flex>
            <v-flex xs12 sm5 md3>
                <v-text-field type="number" v-model="price_add" label="Price / Kg." required></v-text-field>
            </v-flex>
            <v-flex xs12 sm5 md3>
                <v-btn @click="AddGarbage_add" style="margin:0 auto;">Add Garbage</v-btn>
            </v-flex>
        </v-layout>
        <v-btn @click="InsertGarbage">Confirm</v-btn>
        </v-container>
        </div>

        <div v-show="area === 2" style="width:60%; margin:0 auto;">
        <v-container grid-list-xl text-xs-center>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card-text>
                  <h3>Update Garbage</h3>
                </v-card-text>
            </v-flex>
            <v-layout>
                    <v-flex xs12 sm5 md4>
                        <h4>Type</h4>
                    </v-flex>
                    <v-flex xs12 sm5 md4>
                        <h4>Name</h4>
                    </v-flex>
                    <v-flex xs12 sm5 md4>
                        <h4>Value</h4>
                    </v-flex>
                </v-layout>
            <v-flex xs12 style="border-bottom:1px solid gray; margin-bottom:20px; padding-bottom:20px;">
                <v-layout v-for="waste in waste_ar">
                    <v-flex xs12 sm5 md4>
                        <h5>{{ waste.Type }}</h5>
                    </v-flex>
                    <v-flex xs12 sm5 md4>
                        <h5>{{ waste.Name }}</h5>
                    </v-flex>
                    <v-flex xs12 sm5 md4>
                        <h5>{{ waste.Value }} ฿ / Kg.</h5>
                    </v-flex>
                </v-layout>
            </v-flex>
            
            <v-flex xs12 sm5 md3>
                <v-select v-model="type_update" :items="type_value" label="Type" required v-on:change="SelectName_update"></v-select>
            </v-flex>
            <v-flex xs12 sm5 md3>
                <v-select v-model="name_update" :items="name_value" label="Name" required></v-select>
            </v-flex>
            <v-flex xs12 sm5 md3>
                <v-text-field type="number" v-model="price_update" label="Price / Kg." required></v-text-field>
            </v-flex>
            <v-flex xs12 sm5 md3>
                <v-btn @click="AddGarbage_update" style="margin:0 auto;">Add Garbage</v-btn>
            </v-flex>
        </v-layout>
        <v-btn @click="UpdateGarbage">Confirm</v-btn>
        </v-container>
        </div>

        <div v-show="area === 3" style="width:60%; margin:0 auto;">
        <v-container grid-list-xl text-xs-center>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card-text>
                  <h3>Delete Garbage</h3>
                </v-card-text>
            </v-flex>
            <v-layout>
                    <v-flex xs12 sm5 md6>
                        <h4>Type</h4>
                    </v-flex>
                    <v-flex xs12 sm5 md6>
                        <h4>Name</h4>
                    </v-flex>
                </v-layout>
            <v-flex xs12 style="border-bottom:1px solid gray; margin-bottom:20px; padding-bottom:20px;">
                <v-layout v-for="waste in waste_ar">
                    <v-flex xs12 sm5 md6>
                        <h5>{{ waste.Type }}</h5>
                    </v-flex>
                    <v-flex xs12 sm5 md6>
                        <h5>{{ waste.Name }}</h5>
                    </v-flex>
                </v-layout>
            </v-flex>
            
            <v-flex xs12 sm5 md4>
                <v-select v-model="type_delete" :items="type_value" label="Type" required v-on:change="SelectName_delete"></v-select>
            </v-flex>
            <v-flex xs12 sm5 md4>
                <v-select v-model="name_delete" :items="name_value" label="Name" required></v-select>
            </v-flex>
            <v-flex xs12 sm5 md4>
                <v-btn @click="AddGarbage_delete" style="margin:0 auto;">Add Garbage</v-btn>
            </v-flex>
        </v-layout>
        <v-btn @click="DeleteGarbage">Confirm</v-btn>
        </v-container>
        </div>
  </v-app>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            drawer: null,
            type_value: ['แก้ว', 'กระดาษ', 'พลาสติก', 'เหล็ก', 'โลหะ'],
            name_value: [],
            area: 1,
            type_add: '',
            name_add: '',
            price_add:0,
            type_update: '',
            name_update: '',
            price_update:0,
            type_delete: '',
            name_delete: '',
            price_delete:0,
            waste_ar:[],
            update_marketprice:[],
            delete_marketprice:[],
        }
    },
    methods:{
        SelectName_update() {

            this.name_value = [];
          
        axios({
            method:'get',
            url:'/marketprice/selectmarketpricetype/' + this.type_update,
        }).then((response) => {
            console.log(response.data)
            for(var i = 0;i<response.data.length; i++)
            {
                this.name_value.push(response.data[i].name);
            }

            

        })

        },
        SelectName_delete() {

            this.name_value = [];
          
        axios({
            method:'get',
            url:'/marketprice/selectmarketpricetype/' + this.type_delete,
        }).then((response) => {
            console.log(response.data)
            for(var i = 0;i<response.data.length; i++)
            {
                this.name_value.push(response.data[i].name);
            }

            

        })

        },
        AddGarbage_add() {
          
          let waste = {
            Type : this.type_add,
            Name : this.name_add,
            Value : this.price_add,
            Date : new Date(),
          }

          this.waste_ar.push(waste);

          this.type_add = '';
          this.name_add = '';
          this.price_add = '';

        },
        AddGarbage_update() {
          
          let waste = {
            Type : this.type_update,
            Name : this.name_update,
            Value : this.price_update,
            Date : new Date(),
          }

          this.waste_ar.push(waste);

          this.type_update = '';
          this.name_update = '';
          this.price_update = '';

        },
        AddGarbage_delete() {
          
          let waste = {
            Type : this.type_delete,
            Name : this.name_delete,
            Value : this.price_delete,
            Date : new Date(),
          }

          this.waste_ar.push(waste);

          this.type_delete = '';
          this.name_delete = '';
          this.price_delete = '';

        },
        InsertGarbage() {

          if(this.waste_ar == '')
          {
              swal('','กรุณาเพิ่มข้อมูลก่อนกด confirm !','error')
          }else{

            swal({
            title: "ต้องการทำรายการหรือไม่ ?",
            text: "",
            type: "info",
            buttons: {
              cancel: true,
              confirm: true
            }
          }).then((confirmed) => {

              axios({
                method:'post',
                url:'/marketprice/insertmarketprice',
                data: this.waste_ar,
              }).then((response) => {
                console.log(response.data);
                this.waste_ar = [];

                swal('Insert Success !','','success')

              })

          })

          }
        },
        UpdateGarbage() {

          if(this.waste_ar == '')
          {
              swal('','กรุณาเพิ่มข้อมูลก่อนกด confirm !','error')
          }else{

            swal({
            title: "ต้องการทำรายการหรือไม่ ?",
            text: "",
            type: "info",
            buttons: {
              cancel: true,
              confirm: true
            }
          }).then((confirmed) => {

            for(var u = 0;u<this.waste_ar.length; u++)
                {
                    let waste = {
                        Type : this.waste_ar[u].Type,
                        Name : this.waste_ar[u].Name,
                        EndDate : new Date(),
                    }

                    this.update_marketprice.push(waste);
                }

              axios({
                method:'post',
                url:'/marketprice/updatemarketprice',
                data: this.update_marketprice,
              }).then((response) => {
                console.log(response.data);

                axios({
                    method:'post',
                    url:'/marketprice/insertmarketprice',
                    data: this.waste_ar
                }).then((response) => {

                    swal('Update Success !','','success')

                })

              })

          })

          }
        },
        DeleteGarbage() {

          if(this.waste_ar == '')
          {
              swal('','กรุณาเพิ่มข้อมูลก่อนกด confirm !','error')
          }else{

            swal({
            title: "ต้องการทำรายการหรือไม่ ?",
            text: "",
            type: "info",
            buttons: {
              cancel: true,
              confirm: true
            }
          }).then((confirmed) => {

              for(var d = 0;d<this.waste_ar.length; d++)
                {
                    let waste = {
                        Type : this.waste_ar[d].Type,
                        Name : this.waste_ar[d].Name,
                    }

                    this.delete_marketprice.push(waste);
                }

              axios({
                method:'post',
                url:'/marketprice/deletemarketprice',
                data: this.delete_marketprice,
              }).then((response) => {
                console.log(response.data);
                this.waste_ar = [];

                swal('Delete Success !','','success')

              })

          })

          }
        },
        
    }
}
</script>

