<template>
    <div>
            
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {

        }
    },
    methods:{

    },
    created(){

        axios({
            method: 'get',
            url: 'transaction/selectbuyertransaction'
        }).then((response) => {
            console.log(response.data);
        })

    }
}
</script>

