<template>
  <v-data-table :headers="headers" :items="data" class="elevation-1">
    <template slot="items" slot-scope="props">
      <tr :class="{ Noactive: props.item.status === 0 }">
      <td  class="text-xs-center">{{ props.item.name }}</td>
      <td class="text-xs-center">{{ props.item.email }}</td>
      <td class="text-xs-center">{{ props.item.content }}</td>
      <td class="text-xs-center">{{ dateTostring(props.item.datetime) }}</td>
      <v-btn fab dark small color="cyan">
        <v-icon dark @click="updateStatus(props.item.rid)">edit</v-icon>
      </v-btn>

      <v-btn fab dark small color="red">
        <v-icon dark @click="deleteReport(props.item.rid)">delete</v-icon>
      </v-btn>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        headers: [

          {
            text: 'Name',
            value: 'name'
          },
          {
            text: 'Email',
            value: 'email'
          },
          {
            text: 'Content',
            value: 'content',
            width: '700px'
          },
          {
            text: 'Date',
            value: 'datetime'
          },


        ],
        data: [],
        Opacitystatus: 1.0
      }
    },
    methods: {
      dateTostring(date) {
        var fullDate = new Date(date)
        var dd = fullDate.getDate();
        var mm = fullDate.getMonth() +
          1;
        var yyyy = fullDate.getFullYear();
        return dd + '/' + mm + '/' + yyyy;
      },
      deleteReport(id) {
        console.log(id)
        axios({
          method: 'get',
          url: 'admin/deletestatusreport/' + id
        }).then((response) => {
          swal("", "ลบรายการสำเร็จ!", "success").then(()=>{
          location.reload()
          })
          console.log(response)
        })
      },
      updateStatus(id){
        axios({
          method:'patch',
          url:'admin/changestatus/' + id
        }).then((response)=>{
          swal("","อัพเดทสถานะReport สำเร็จ!","success").then(()=>{
            location.reload()
          })
        })
      }
    },
    created() {
      axios({
          method: 'get',
          url: '/admin/selectreport'
        })
        .then((response) => {
          this.data = response.data;
          console.log(response.data)
        })
        .catch((error) => {

          console.log(error);
        });

        
    }
  }

</script>

<style>
.Noactive{
  opacity: 0.3;
}
</style>
