<template>
  <div>
    <v-layout>

      <v-flex>
        <v-card>
          <div class="form-area">
            <!-- <div v-for="n in user" v-if="n.uId === user_firebase.uid" class="text-xs-center"> -->
                <div class="text-xs-center">
                    <v-avatar size="150px" slot="activator" style="margin-left:15px;" v-if="profile != null && photo_firebase == null">
                        <img :src="profile">
                    </v-avatar>
                    <v-avatar size="150px" slot="activator" style="margin-left:15px;" v-if="profile != null && photo_firebase != null">
                        <img :src="profile">
                    </v-avatar>
                    <v-avatar size="150px" slot="activator" style="margin-left:15px;" v-if="profile == null && photo_firebase != null">
                        <img :src="photo_firebase">
                    </v-avatar>
                    <v-avatar size="150px" slot="activator" style="margin-left:15px;" v-if="profile == null && photo_firebase == null">
                        <img :src="require('../components/static/img/object/avatar.png')">
                    </v-avatar>
                    <br>
                    <br>
                    <br>
                <v-flex>
                <div> 
                    <input id="uploadFile" class="profile_img" type="file" style="display:none" ref="profile_img" v-on:change="pickFile"/>
                    <label  for="uploadFile" style="border:1px solid gray; border-radius:1px; padding:5px 15px 5px 15px;">PROFILE</label>
                </div>
                </v-flex>

                <v-text-field label="Name" v-model="name"></v-text-field>
                <v-text-field label="Tel" prepend-icon="phone" v-model="tel"></v-text-field>
                <br>
                <v-btn outline color="indigo" v-on:click="UpdateProfile">Sucess !</v-btn>
                
            </div>
          </div>   
        </v-card>
      </v-flex>

    </v-layout>

  </div>
</template>

<style scoped>

    .form-area{
        padding:50px;
    }

</style>

<script>

import firebase from 'firebase';
import axios from "axios";

export default {
    data(){
        return {
            user_firebase:'',
            photo:'',
            user:'',
            uid:'',
            edit_profile:false,
            
            profile:'',
            name:'',
            tel:'',
            photo_firebase:'',
        }
    },
    methods: {
        pickFile(e) {
            
            let reader = new FileReader();
                let profile = document.getElementById('uploadFile').files[0];
                reader.onloadend = (profile) => {
                    this.profile = reader.result;
                };
                reader.readAsDataURL(profile);
        },

        /* update profile */
        
        UpdateProfile() {

             axios({
                method: 'post',
                    url: '/user/updateprofile',
                    data: {
                            Name : this.name,
                            Tel : this.tel,
                            UId : this.user_firebase.uid,
                            ProfileImg : this.profile,
                        }
                        })
                        .then((response) => {

                            swal("","Update Success !","success")
                            .then(() => {
                                location.reload();
                            });

                            })
                            .catch((error) => {
                                    console.log(error);
                        });
        },
    },
     created() {

        firebase.auth().onAuthStateChanged((user) => {
            if (user) {
            this.user_firebase = user;
            this.photo_firebase = user.photoURL;

            axios({
                    method: 'get',
                    url: '/home/getuser/' + user.uid,
                })
                .then((response) => {

                    this.user = response.data;

                    
                            this.profile = this.user.profileImg;
                            this.name = this.user.name;
                            this.tel = this.user.tel;
        
                })
                .catch((error) => {
                    console.log(error);
                });

            }
        });


    }
}
</script>


