<template>
  <div id="app">
    <div class="footer-social-area">
      <div class="footer-social-data">
        <table width="100%">
          <tr>
            <td><a href="" target="_blank"><img src="./static/img/social/fb.png" alt="" width="24px"></a></td>
            <td><a href="" target="_blank"><img src="./static/img/social/ig.png" alt="" width="24px"></a></td>
            <td><a href="" target="_blank"><img src="./static/img/social/tw.png" alt="" width="24px"></a></td>
            <td><a href="" target="_blank"><img src="./static/img/social/yt.png" alt="" width="24px"></a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="copyright">© 2018 Copyright :
      <a href="#"> Trash&Trade</a>
    </div>
  </div>
</template>

<script>
  import {
    routes
  } from '../router/routes'
  import Logo from './logo'
  import Login from "./login";
  import Register from "./register";

  export default {
    components: {
      'logotnt': Logo,
      Login,
      Register,
    },
    data() {
      return {
        routes,
        collapsed: true,
      }
    },
  }

</script>
