<template>
  <div>
    <v-layout>

      <v-flex>
        <v-card>
          <div class="form-area">
            <h3>LOGIN</h3>
            <v-form ref="form" lazy-validation>
                <v-text-field v-model="email" label="Username || Email" v-validate="'required|email'" name="email"></v-text-field>
                <p v-show="errors.has('email')" class="error">{{ errors.first('email') }}</p>
                <v-text-field v-model="password" label="Password" :append-icon="show1 ? 'visibility_off' : 'visibility'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1" v-validate="'required|min:6'" name="password" counter></v-text-field>
                <p v-show="errors.has('password')" class="error">{{ errors.first('password') }}</p>

               
            </v-form>
             <v-btn v-on:click="LoginWithEmail">LOGIN</v-btn>
                <v-btn @click="register = true">REGISTER</v-btn>  
          </div>
          
        </v-card>
      </v-flex>
      <v-flex>
        <v-card>
          <div class="form-area">
              <v-btn v-on:click="LoginWithGoogle" id="btn-google">Login With Google</v-btn>
          </div>
        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog v-model="register" max-width="700">
        <Register></Register>
    </v-dialog>

  </div>
</template>

<script>

  import firebase from 'firebase';
  import firebaseui from 'firebaseui';
  import {
    config
  } from '../helpers/firebaseConfig';

  import Register from './register'
  import axios from "axios";

  export default {
    data() {
      return {
        show1: false,
        register: false,
        email:'',
        password:'',
        user:'',
      }
    },
    components:{
      Register,
    },
    methods:{

      LoginWithGoogle() {

        const auth = firebase.auth();
        var provider = new firebase.auth.GoogleAuthProvider();
        auth.signInWithRedirect(provider)
      },

      LoginWithEmail() {
          
        this.$validator.validateAll().then(()=>{
firebase.auth().signInWithEmailAndPassword(this.email,this.password)
          .then((response) => {
            swal("","Login สำเร็จ","success")
            location.reload();
          }).catch((e) => {
            console.log(e.message);
            swal("",e.message,"error");
          })
        })

          

        }
    }
  }

</script>


<style scoped>

.form-area{
  width:100%;
  height:330px;
  margin:0 auto;
  padding:40px;
  text-align:center;
  background:white;
 }

 #btn-google{
   top:40%;
 }

 .error {
    background-color: transparent !important;
    color: red;
  }

</style>
