<template>
  <div>
    <v-layout row wrap>
      <v-flex xs6 offset-xs3 style="position:fixed; z-index:1; width:100%; margin-top: 15px;">
        <v-text-field solo label="" append-icon="place" id="mapsearch" placeholder="ค้นหาใน Google maps"></v-text-field>
      </v-flex>

      <v-flex xs6 style="position:fixed; z-index:1; width:100%; margin-top: 15px; margin-left:75%;">
        <v-btn id="addMarkerBtnId" color="success" round>
          AddLocation
        </v-btn>
      </v-flex>
    </v-layout>


    <div id="map" :style="{height: height + 'px'}"></div>

    <v-dialog v-model="post_garbage" fullscreen hide-overlay transition="dialog-bottom-transition" max-width="700">
      <PostGarbage :lat_prop="this.lat_prop" :lng_prop="this.lng_prop" :user="this.user" :locations="this.locations"></PostGarbage>
    </v-dialog>
    <v-dialog v-model="post_store" fullscreen hide-overlay transition="dialog-bottom-transition" max-width="700">
      <PostStore :lat_prop="this.lat_prop" :lng_prop="this.lng_prop" :user="this.user" :locations="this.locations"></PostStore>
    </v-dialog>
    <v-dialog v-model="view_post_transaction" fullscreen hide-overlay transition="dialog-bottom-transition">
      <ViewPostTransaction :tran="tran_prop" :user="user"></ViewPostTransaction>
    </v-dialog>

  </div>
</template>

<script>
  import GoogleMapsLoader from 'google-maps';
  import axios from 'axios';
  import firebase from 'firebase';

  import PostGarbage from './post-garbage';
  import PostStore from './post-store';
  import ViewPostTransaction from './view-post-transaction';


  export default {
    data() {
      return {
        locations: [],
        owner_location: [],
        user_name: [],
        user_tel: [],
        transaction: [],

        user: '',
        userType: '',
        user_firebase: '',

        post_garbage: false,
        post_store: false,
        view_post_transaction: false,
        tran_prop:[],
        lat_prop: '',
        lng_prop: '',
        event: false,

        height: 0,

        w_type:[],
        w_name:[],
        w_amount:[],
        w_total_price:[],
        t_date:[],
        t_status:[],
        t_status_store:[],
        t_total_price:[],
        t_id:[],

        waste:[],
        t_status:[],
      }
    },
    components: {
      PostGarbage,
      PostStore,
      ViewPostTransaction,
    },
    methods:{
      windowHeight () {
        this.height = window.innerHeight;
        this.height = this.height - 60;
      },
    },
    created() {
      var self = this;

      if (process.browser) { 
          this.height = window.innerHeight;
          this.height = this.height - 60;
          window.addEventListener('resize', this.windowHeight);
        }

      // Method for keep State for filter user
      firebase.auth().onAuthStateChanged((user) => {
        if (user) {


          this.user_firebase = user;

          axios({
              method: 'get',
              url: '/home/getuser/' + user.uid,
            })
            .then((response) => {

              this.user = response.data.uId
              // console.log(this.user)
              
                  this.userType = response.data.type;
                  // console.log(this.userType)
                
            })

        }
        // method for get data from DB
        axios.get('/location/getlocation')
          .then((response) => {

            this.locations = response.data;
            console.log(this.locations);

          }).then(() => {

            // Set Api Key
            GoogleMapsLoader.KEY = 'AIzaSyCiMyakYx8ggsMP1iOahLBsO5svCOzW_18&libraries=places&language=th';

            // Set Option maps
            GoogleMapsLoader.load(function (google) {
              var options = {
                zoom: 12,
                center: {
                  lat: 13.736717,
                  lng: 100.523186
                }
              }

              var map = new google.maps.Map(document.getElementById('map'), options);

              initialMarker();

              // initial Method for set everything for marker
              function initialMarker() {

                var locations = []; // Variable for keep location 

                // Loop for push value from DB to Locations(Variable)


                self.locations.forEach(Locate => {
                  locations.push([Locate.lat, Locate.lng, Locate.addressString, Locate.type])
                })

                // Set position from location variable
                for (var i = 0; i < locations.length; i++) {
                  var pos = new google.maps.LatLng(locations[i][0], locations[i][1]);

                
                  // Set icons Variable
                  var icons = new google.maps.MarkerImage(
                    locations[i][3], null, null, null, new google.maps
                    .Size(40, 52));               

                  // console.log(self.locations[i].trans);
                  for(var w = 0; w < self.locations[i].waste.length; w++)
                  {
                     self.t_id.push(self.locations[i].waste[w].t_id);
                     self.t_status.push(self.locations[i].waste[w].t_status);
                     self.t_date.push(self.locations[i].waste[w].t_date);
                     self.t_total_price.push(self.locations[i].waste[w].t_total);
                  }

                  // console.log(self.locations[i].trans[0].t_status);

                  if(self.userType == 'Seller')
                  {

                      // console.log(self.t_status_store[0])

                      if(self.locations[i].trans[0].t_status == 'Store')
                      {
                          var content = '<div class="area-content">'+
                          '<div class="area-description">' +
                          '<div class="scroll-content">' +
                          '<div class="area-profile">' +
                          '<img src="' + self.locations[i].imgStore + '" id="profile">' +
                          '</div>' + 
                          '<div id="head">' +
                          '<h3>' + self.locations[i].nameStore + '</h3>' +
                          '<h5 id="tel">' + self.locations[i].tel + '<h5>' +
                          '</div>' +
                          '<br>' +
                          self.locations[i].titleStore + '<br>' +
                          '</div>' +
                          '</div>' +
                          '</div>' ;
                      } 

                      if(self.locations[i].trans[0].t_status != 'Store')
                      {
                          var content = '<div class="area-content">'+
                          '<div class="area-description">' +
                          '<div class="scroll-content">' +
                          '<div class="area-profile">' +
                          '<img src="' + self.locations[i].profile + '" id="profile">' +
                          '</div>' + 
                          '<div id="head">' +
                          '<h3>' + self.locations[i].name + '</h3>' +
                          '<h5 id="tel">' + self.locations[i].tel + '<h5>' +
                          '</div>' +
                          '<br>' +
                          'DATE :' + self.t_date[0] + '<br>' +
                          'Total Price : ' + self.t_total_price[0] + 
                          '</div>' +
                          '</div>' +
                          '</div>' ;
                      }
                  }

                  if(self.userType == 'Buyer')
                  {

                    if(self.t_status[0] == 'Confirm')
                    {
                        var content = '<div class="area-content">'+
                        '<div class="area-description">' +
                        '<div class="scroll-content">' +
                        '<div class="area-profile">' +
                        '<img src="' + self.locations[i].profile + '" id="profile">' +
                        '</div>' + 
                        '<div id="head">' +
                        '<h3>' + self.locations[i].name + '</h3>' +
                        '<h5 id="tel">' + self.locations[i].tel + '<h5>' +
                        '</div>' +
                        '<br>' +
                        'DATE :' + self.t_date[0] + '<br>' +
                        'Total Price : ' + self.t_total_price[0] + 
                        '</div>' +
                        '</div>' +
                        '</div>' ;
                    }

                    if(self.t_status[0] == 'Selling')
                    {
                        var content = '<div class="area-content">'+
                        '<div class="area-description">' +
                        '<div class="scroll-content">' +
                        '<div class="area-profile">' +
                        '<img src="' + self.locations[i].profile + '" id="profile">' +
                        '</div>' + 
                        '<div id="head">' +
                        '<h3>' + self.locations[i].name + '</h3>' +
                        '<h5 id="tel">' + self.locations[i].tel + '<h5>' +
                        '</div>' +
                        '<br>' +
                        'DATE :' + self.t_date[0] + '<br>' +
                        'Total Price : ' + self.t_total_price[0] + 
                        '</div>' +
                        '</div>' +
                        '</div>' ;
                    }

                    if(self.t_status[0] == 'Sell')
                    {

                        var x = ''
                        for(var a=0;a<self.locations[i].allTrans.length;a++)
                        {                          
                            x += '<p>'+ self.locations[i].allTrans[a].allLoation +'</p>'                          
                        }
                        
                        var content = '<div class="area-content">'+
                        '<div class="area-description">' +
                        '<div class="scroll-content">' +
                        '<div class="area-profile">' +
                        '<img src="' + self.locations[i].profile + '" id="profile">' +
                        '</div>' + 
                        '<div id="head">' +
                        '<h3>' + self.locations[i].name + '</h3>' +
                        '<h5 id="tel">' + self.locations[i].tel + '<h5>' +
                        // '</div>' + '<h4>'+'จุดขายอื่นๆของผู้ใช้'+'</h4>'+ '<div id="Breakline">' + x + '</div>' +
                        '</div>' +
                        '<br>' +
                        'DATE :' + self.t_date[0] + '<br>' +
                        'Total Price : ' + self.t_total_price[0] + 
                        '<br><br>' +
                        // '<input type="button" id="btn-buy" class="btn-buy" data-tid="' + self.t_id[0] +'" value="BUY">' +
                        "<input type='button' id='btn-buy' class='btn-buy' data-tran='" + JSON.stringify(self.locations[i]) +"' value='BUY'>" +
                        '</div>' +
                        '</div>' +
                        '</div>' ;
                    }

                    // console.log(self.locations[i]);

                    if(self.locations[i].trans[0].t_status == 'Store')
                    {
                        var content = '<div class="area-content">'+
                          '<div class="area-description">' +
                          '<div class="scroll-content">' +
                          '<div class="area-profile">' +
                          '<img src="' + self.locations[i].imgStore + '" id="profile">' +
                          '</div>' + 
                          '<div id="head">' +
                          '<h3>' + self.locations[i].nameStore + '</h3>' +
                          '<h5 id="tel">' + self.locations[i].tel + '<h5>' +
                          '</div>' +
                          '<br>' +
                          self.locations[i].titleStore + '<br>' +
                          '</div>' +
                          '</div>' +
                          '</div>' ;
                    }
                  }

                  // config Marker
                  var marker = new google.maps.Marker({

                    position: pos,
                    map: map,
                    icon: icons,
                    animation: google.maps.Animation.DROP,
                    content: content
                  });

                  // Info Window
                  var infowindow = new google.maps.InfoWindow({

                    content: marker.content,
                    maxHeight: 400,
                    maxWidth: 400,
                  });

                  //click buy

                  google.maps.event.addListener(infowindow , 'domready' , () => {
                    document.getElementById('btn-buy').addEventListener('click',BuyGarbage);
                  })

                  function BuyGarbage(ev){

                    var tran = ev.target.getAttribute("data-tran")
                    self.tran_prop = JSON.parse(tran);
                    self.view_post_transaction = true;
      
                    }
                    

                  self.t_id = [];
                  self.t_status = [];
                  self.t_date = [];
                  self.t_total_price = [];

                  

                  google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, this);
                    infowindow.setContent(this.content);
                  });
                }

                // Search Box Method
                var searchBox = new google.maps.places.SearchBox(document.getElementById('mapsearch'));

                google.maps.event.addListener(searchBox, 'places_changed', function () {
                  var places = searchBox.getPlaces();

                  var bounds = new google.maps.LatLngBounds();
                  var i, place;

                  for (i = 0; place = places[i]; i++) {
                    bounds.extend(place.geometry.location);
                    marker.setPosition(place.geometry.location);
                  }

                  var icon = 'http://img.in.th/images/19b5e80627cfe8967a008efe714869f1.png';
                  var DefaultIcon = new google.maps.MarkerImage(
                    icon, null, null, null, new google.maps
                    .Size(40, 52));


                  map.fitBounds(bounds);
                  map.setZoom(15);
                  marker.setIcon(DefaultIcon);
                  marker.setDraggable(true);

                })

                var geocoder = new google.maps.Geocoder;

                // Add marker when Click
                google.maps.event.addDomListener(document.getElementById('addMarkerBtnId'), 'click', function (
                  evt) {
                  self.lat_prop = marker.getPosition().lat()
                  self.lng_prop = marker.getPosition().lng()

                  var markerPosition = marker.getPosition();

                  geocoder.geocode({
                    'latLng': markerPosition
                  }, function (results, status) {

                    if (status == google.maps.GeocoderStatus.OK) {
                      if (results) {
                        showAddressOfResult(results[0], marker);
                      }
                    } else {
                      alert(status);
                    }

                  });

                  function showAddressOfResult(result, marker) {
                    // console.log(result.formatted_address)
                    self.locations = result.formatted_address;

                  }
                  if (self.userType == 'Seller') {
                    var icons = 'https://www.img.in.th/images/72ac2fd21adaf84ed916a9e5de6442b1.png';
                  } else {
                    var icons = 'https://www.img.in.th/images/0c7b3bb1bcd22c833964c53420c3bb19.png';
                  }

                  if (self.userType == 'Seller') {

                    self.post_garbage = true;

                  } else if (self.userType == 'Buyer') {

                    self.post_store = true;

                  }
                })

              }
            })
          });
      })


    }
  }

</script>

<style>
  #map {
    height: 750px;
    width: 100%;
  }

  /** set here the desired background-color **/
  #div-main-infoWindow,
  .custom-iw>div:first-child>div:nth-child(n-1)>div>div,
  .custom-iw>div>div:last-child,
  .custom-iw .gm-style-iw,
  .custom-iw .gm-style-iw>div,
  .custom-iw .gm-style-iw>div>div {
    background-color: #EFF6E8 !important;
  }

  /** close-button **/
  .custom-iw>div:last-child {
    top: 1px !important;
    right: 0 !important;
  }

  /** padding of the content **/
  #div-main-infoWindow {
    padding: 1px 3px 4px 3px;
  }

  #info-title {
    width: 100%;
    height: 50px;
    background-color: #DAF7A6 !important;
    padding: 1em;

  }

  /* */

.area-content{
  max-width:700px;
  min-width:350px;
  height:250px;
  overflow: hidden;
}

.area-description{
  padding:10px;
  padding-left:30px;
  text-align:center;
  overflow: hidden;
  overflow-y: scroll;
  width: calc(100% + 100px);
  height: 100%;
}

.scroll-content {
  width: calc(100% - 100px);
}

.area-profile{
  padding-bottom:20px;
}

#tel {
  opacity:0.5;
  transition:0.5s all;
  padding-bottom:10px;
}

#tel:hover{
  opacity:1;
}

#profile{
  width:80px;
  margin:0 auto;
  border-radius: 90px;
}

#textarea{
  width:100%;
  height:100px;
  resize: none;
}

/*button*/

.btn-buy{
  width:100px;
  height:30px;
  border:1px solid black;
  border-radius: 10px 10px 10px 10px;
  font-size:15px;
  opacity:1;
  transition:0.5s all;
  background:black;
  color:white;
}

.btn-buy:hover{
  background:white;
  color:black;
  border:1px solid black;
  opacity:1;
}
#Breakline{
  border-bottom:1px solid black;

}


</style>
