<template>
  <div class="message-area">
    <h1>Message</h1>
    <div class="Card" v-for="n in 4" data-aos="fade-right">

      <article class="message is-success">
        <div class="message-header">
          <p>Name</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          <img src="http://www.mtoday.co.th/wp-content/uploads/2017/11/1400919745.jpg" />
          <strong>From: </strong>
        </div>
      </article>
    </div>
  </div>
</template>
<style lang="css" scoped>
  .card-sec {
    justify-content: center;
    align-items: center;
    height: 100%;

  }

  .Card {
    width: 60%;
    height: auto;
    background: rgba(255, 255, 255, 0.92);
    overflow: hidden;
    border-radius: 1px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .Card-body {
    padding: 10px;
  }

  img {
    border-radius: 100%;
    float: left;
    margin: 0 10px 15px 0;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  .message-area {
    padding-top: 2.7%;
    padding-bottom: 10.2%;
  }

  .message-area h1 {
    margin-bottom: 50px;
    text-align: center;
  }

</style>
