﻿<template>
  <div id="app">

    <!--PC-->

    <div v-show="size > 414">

      <v-toolbar class="white" fixed>
        <router-link to="/" exact-active-class="active" id="navbar-font-logo">Trash & Trade</router-link>

        <v-spacer></v-spacer>

        <v-btn flat large>
          <router-link to="/about" exact-active-class="active" id="navbar-font">ABOUT</router-link>
        </v-btn>

        <v-btn icon>
          <a @click="login = true">
            <v-icon>vpn_key</v-icon>
          </a>
        </v-btn>
        <div id="hr"></div>
        <v-btn icon>
          <a @click="register = true">
            <v-icon>person_add</v-icon>
          </a>
        </v-btn>
      </v-toolbar>
      <div class="navbar-free-area"></div>

    </div>

    <!-- Mobile-->

    <div v-show="size <= 414">

      <v-toolbar class="white" fixed>
        <router-link to="/" exact-active-class="active" id="navbar-font-logo">Trash & Trade</router-link>

        <v-spacer></v-spacer>

        <v-menu bottom left>
          <v-btn slot="activator" icon>
            <v-icon>menu</v-icon>
          </v-btn>

          <v-list>
            <v-list-tile>
              <v-list-tile-title>
                <router-link to="/about" exact-active-class="active" id="navbar-font">ABOUT</router-link>
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title><a @click="login = true">LOGIN</a></v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title><a @click="register = true">REGISTER</a></v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar>
      <div class="navbar-free-area"></div>

    </div>

    <v-dialog v-model="login" max-width="700">
      <Login></Login>
    </v-dialog>
    <v-dialog v-model="register" max-width="700">
      <Register></Register>
    </v-dialog>


  </div>
</template>

<script>
  import {
    routes
  } from "../router/routes";
  import Logo from "./logo";
  import Login from "./login";
  import Register from "./register";
  import {
    mapState
  } from 'vuex'

  export default {

    components: {
      logotnt: Logo,
      Login,
      Register,
    },

    data() {
      return {
        routes,
        size: 0,
        login: false,
        register: false,
      };
    },

    methods: {

      windowMax() {
        this.size = window.innerWidth;
      }

    },

    created() {
      if (process.browser) {
        this.size = window.innerWidth;
        window.addEventListener('resize', this.windowMax);
      }
    },
    destroyed() {
      if (process.browser) {
        this.size = window.innerWidth;
        window.removeEventListener('resize', this.windowMax);
      }
    },

  };

</script>
