<template>
  <div id="getc">

    <!--PC-->
    <div v-show="size > 414">


      <v-toolbar class="white" fixed id="navbar-font-logo">
        Trash & Trade
        <v-spacer></v-spacer>

        <v-btn icon id="area-icon">
          <a @click="changeNav(1)">
            <v-icon>place</v-icon>
          </a>
        </v-btn>

        <v-btn icon id="area-icon">
          <a @click="changeNav(3)">
            <v-icon>notifications</v-icon>
          </a>
        </v-btn>

        <v-btn icon id="area-icon">
          <a @click="changeNav(4)">
            <v-icon>account_balance_wallet</v-icon>
          </a>
        </v-btn>
        

        <v-btn icon v-show="type == 'Admin'">
          <a @click="changeNav(6)">
            <v-icon>far fa-user</v-icon>
          </a>
        </v-btn>

        <div id="hr"></div>

        <v-menu bottom left>
          <v-avatar size="36px" slot="activator" style="margin-left:15px;" v-if="profile != null && photo_firebase == null">
            <img :src="profile">
          </v-avatar>
          <v-avatar size="36px" slot="activator" style="margin-left:15px;" v-if="profile != null && photo_firebase != null">
            <img :src="profile">
          </v-avatar>
          <v-avatar size="36px" slot="activator" style="margin-left:15px;" v-if="profile == null && photo_firebase != null">
            <img :src="photo_firebase">
          </v-avatar>
          <v-avatar size="36px" slot="activator" style="margin-left:15px;" v-if="profile == null && photo_firebase == null">
            <img :src="require('../components/static/img/object/avatar.png')">
          </v-avatar>

          <v-list id="menu-getc">
            <v-list-tile>
              <v-list-tile-title><a @click="changeNav(5)" id="navbar-font">Profile</a></v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title><a href="" id="navbar-font" @click='logOut'>Log out</a></v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>

      </v-toolbar>
    </div>

    <!-- Mobile-->

    <div v-show="size <= 414">  

          <v-toolbar class="white" fixed>
                <router-link to="/" exact-active-class="active" id="navbar-font-logo">Trash & Trade</router-link>

                <v-spacer></v-spacer>
  
                    <v-menu bottom left>
                        <v-btn slot="activator" icon>
                            <v-icon>menu</v-icon>
                        </v-btn>
            
                        <v-list style="position:fixed; z-index:999;">
                            <v-list-tile>
                                <v-list-tile-title><a  @click="changeNav(1)">Maps</a></v-list-tile-title>
                            </v-list-tile>
                            <!-- <v-list-tile>
                                <v-list-tile-title><a @click="changeNav(2)">Message</a></v-list-tile-title>
                            </v-list-tile> -->
                            <v-list-tile>
                                <v-list-tile-title><a @click="changeNav(3)">Notification</a></v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-title><a @click="changeNav(4)">Wallet</a></v-list-tile-title>
                            </v-list-tile>
                            <div id="hr-bottom"></div>
                            <v-list-tile>
                                <v-list-tile-title><a  @click="changeNav(5)" id="navbar-font">Profile</a></v-list-tile-title>
                            </v-list-tile>
                            <div id="hr-bottom"></div>
                            <v-list-tile>
                                <v-list-tile-title><a href="" id="navbar-font" @click='logOut'>Log out</a></v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                    </v-menu>
            </v-toolbar>
      </div>

  </div>

</template>
<script>
  import Vue from "vue";
  import firebase from 'firebase';
  import axios from "axios";
  import Maps from "./Maps";
  import message from "./message";
  import notification from "./notification";
  import wallet from "./wallet";
  import {
    mapActions
  } from 'vuex'

  export default {
    data() {
      return {
        photo: '',
        user: {},
        step: 1,
        size: 0,

        profile:'',
        name:'',
        tel:'',
        photo_firebase:'',
        type:'',
      };
    },
    components: {
      Maps,
      message,
      notification,
      wallet,
    },
    methods: {
      ...mapActions([
        'changeNav'
      ]),

      windowMax () {
        this.size = window.innerWidth;
      },
      logOut() {
        firebase.auth().signOut();
      }

    },

    created() {

        firebase.auth().onAuthStateChanged((user) => {
            if (user) {
            this.user_firebase = user;
            this.photo_firebase = user.photoURL;

            axios({
                    method: 'get',
                    url: '/home/getuser/' + user.uid,
                })
                .then((response) => {

                    this.user = response.data;
                    this.type = response.data.type;

                    
                            this.profile = this.user.profileImg;
                            this.name = this.user.name;
                            this.tel = this.user.tel;
                            this.type =this.user.type;
                   
                })
                .catch((error) => {
                    console.log(error);
                });

            }
        });

        if (process.browser) { 
            this.size = window.innerWidth;
            window.addEventListener('resize', this.windowMax);
        }
      },
      destroyed () {
      if (process.browser) { 
          this.size = window.innerWidth;
          window.removeEventListener('resize', this.windowMax);
      }
    },
  }

</script>
