<template>
  <div class="notification-area">
    <div v-if="user.type == 'Buyer'">
      <div class="Store">
        <div style="text-align:center; border-bottom:1px solid gray; width:60%; margin:0 auto; padding-bottom:30px;"><h2>Store</h2></div>
      </div>
      <br><br>
        <v-layout>
        <v-flex xs6 offset-xs3>
          <div>
            <v-card v-for="tran in transaction" v-if="tran.trans.status == 'Store'">         
              <v-card-actions>
                <v-spacer></v-spacer>
              <v-btn flat color="green" v-on:click="UpdateStore(tran)">แก้ไขร้านค้า</v-btn>
              <v-btn flat color="red" v-on:click="DeleteStore(tran.trans.tId)">ลบ</v-btn>
              </v-card-actions>
              <v-card-title primary-title>
                <v-flex xs12 style="text-align:center;">
                  <v-expansion-panel>
                    <v-expansion-panel-content ripple>
                      <div slot="header">
                        <h4>{{ tran.nameStore }}</h4>
                      </div>
                      <v-card>
                        <v-card-text class="grey lighten-3">
                          <v-img :src="tran.imgStore"></v-img>
                          <br>
                          <div>
                            รายละเอียด : {{ tran.title }} <br><br>
                            สถานที่ : {{ tran.address }}
                          </div>
                        </v-card-text>
                      </v-card>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-flex>
              </v-card-title>
            </v-card>
            <br>
          </div>
        </v-flex>
      </v-layout>
    </div>

    <div v-if="user.type == 'Seller'">
      <v-layout>
        <v-flex xs6 offset-xs3>
          <div>
            <v-card  v-for="tran in transaction" v-if="tran.trans.status != 'Sold'">
              <v-card-title primary-title>
                <v-layout>
                  <v-card-actions>

                    <h6>สถานะ : </h6>
                    <h6 v-if="tran.trans.status == 'Sell'" style="color:red;">&nbspSELL</h6>
                    <h6 v-if="tran.trans.status == 'Selling'" style="color:#ffba00;">&nbspSELLING</h6>
                    <h6 v-if="tran.trans.status == 'Confirm'" style="color:#028900;">&nbspCONFIRM</h6>
                  </v-card-actions>
                  <v-spacer></v-spacer>
                  <v-card-actions v-if="tran.trans.buyerId == null">
                    <h6>ผู้ร้องขอการซื้อ : </h6>
                    <h6>&nbspยังไม่มีผู้ร้องขอการซื้อ</h6>
                  </v-card-actions>
                  <v-card-actions v-if="tran.trans.buyerId != null">
                    <h6>ผู้ร้องขอการซื้อ : </h6>
                    <h6>&nbsp{{ tran.trans.buyerId }}</h6>
                  </v-card-actions>
                  <v-spacer></v-spacer>
                  <v-card-actions>
                    <v-btn flat color="green" v-if="tran.trans.status == 'Selling'" v-on:click="confirmBuy(tran.trans.tId)">ยืนยันการขาย</v-btn>
                    <v-btn flat color="red" v-on:click="DeleteTransaction(tran.trans.tId)" v-if="tran.trans.status != 'Confirm'">ลบ</v-btn>
                    <h6 v-if="tran.trans.status == 'Confirm'" style="padding-right:30px;">รอการตอบรับจากผู้ซื้อ</h6>
                  </v-card-actions>
                </v-layout>
                <v-flex xs12 style="text-align:center;">
                  <v-expansion-panel>
                    <v-expansion-panel-content ripple>
                      <div slot="header">
                        <h4>ขยะ</h4>
                      </div>
                      <v-card>
                        <v-card-text class="grey lighten-3">
                          <div v-for="w in tran.waste">
                            <h5>รายละเอียดขยะ:</h5>
                            <p>ประเภทขยะ: {{w.waste.type}}</p>
                            <p>ชื่อขยะ: {{w.waste.name}}</p>
                            <p>จำนวน: {{w.waste.amount}}</p>
                            <p>มูลค่ารวม: {{w.waste.totalPrice}}</p>
                          <hr>
                              
                          </div>
                        </v-card-text>
                      </v-card>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-flex>
              </v-card-title>
            </v-card>
            <br>
          </div>
        </v-flex>
      </v-layout>
    </div>
    <br>
    <div v-if="user.type == 'Buyer'">
      <div class="Store">
        <div style="text-align:center; border-top:1px solid gray; width:60%; margin:0 auto; padding-top:30px;"><h2>Buy</h2></div>
      </div>
      <br><br>
        <v-layout>
        <v-flex xs6 offset-xs3>
          <div>
            <v-card v-for="tran in transaction" v-if="tran.trans.status == 'Confirm'">
              <v-card-title primary-title>
                <v-layout>
                  <v-card-actions>

                    <h6>สถานะ : </h6>
                    <h6 v-if="tran.trans.status == 'Confirm'" style="color:#028900;">&nbspCONFIRM</h6>
                  </v-card-actions>
                  <v-spacer></v-spacer>
                  <v-card-actions>
                    <h6>เจ้าของการโพส : </h6>
                    <h6>&nbsp{{ tran.trans.sellerId }}</h6>
                  </v-card-actions>
                  <v-spacer></v-spacer>
                  <v-card-actions>
                    <v-btn flat color="green" v-if="tran.trans.status == 'Confirm'" v-on:click="finishBuy(tran.trans.sellerId,tran.trans.buyerId,tran.trans.totalValue,tran.trans.tId)">เสร็จสิ้นการซื้อขาย</v-btn>
                  </v-card-actions>
                </v-layout>
                <v-flex xs12 style="text-align:center;">
                  <v-expansion-panel>
                    <v-expansion-panel-content ripple>
                      <div slot="header">
                        <h4>ขยะ</h4>
                      </div>
                      <v-card>
                        <v-card-text class="grey lighten-3">
                          <div v-for="w in tran.waste">
                            <h5>รายละเอียดขยะ:</h5>
                            <p>ประเภทขยะ: {{w.waste.type}}</p>
                            <p>ชื่อขยะ: {{w.waste.name}}</p>
                            <p>จำนวน: {{w.waste.amount}}</p>
                            <p>มูลค่ารวม: {{w.waste.totalPrice}}</p>
                            <hr>   
                          </div>
                        </v-card-text>
                      </v-card>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-flex>
              </v-card-title>
            </v-card>
            <br>
          </div>
        </v-flex>
      </v-layout>
    </div>

    <div class="History">
        <div style="text-align:center; border-top:1px solid gray; width:60%; margin:0 auto; padding-top:30px;"><h2>History</h2></div>
    </div>

    <div v-if="user.type == 'Seller'">
      <br><br>
      <v-layout>
        <v-flex xs6 offset-xs3>
          <div>
            <v-card v-for="tran in transaction" v-if="tran.trans.status == 'Sold'">
              <v-card-title primary-title>
                <v-layout>
                  <v-card-actions>

                    <h6>สถานะ : </h6>
                    <h6 v-if="tran.trans.status == 'Sold'">&nbspSOLD</h6>
                  </v-card-actions>
                  <v-spacer></v-spacer>
                  <v-card-actions v-if="tran.trans.buyerId != null">
                    <h6>ผู้ซื้อ : </h6>
                    <h6>&nbsp{{ tran.trans.buyerId }}</h6>
                  </v-card-actions>
                  <v-spacer></v-spacer>
                </v-layout>
                <v-flex xs12 style="text-align:center;">
                  <v-expansion-panel>
                    <v-expansion-panel-content ripple>
                      <div slot="header">
                        <h4>ขยะ</h4>
                      </div>
                      <v-card>
                        <v-card-text class="grey lighten-3">
                          <div v-for="w in tran.waste">
                            <h5>รายละเอียดขยะ:</h5>
                            <p>ประเภทขยะ: {{w.waste.type}}</p>
                            <p>ชื่อขยะ: {{w.waste.name}}</p>
                            <p>จำนวน: {{w.waste.amount}}</p>
                            <p>มูลค่ารวม: {{w.waste.totalPrice}}</p>
                          <hr>   
                          </div>
                        </v-card-text>
                      </v-card>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-flex>
              </v-card-title>
            </v-card>
            <br>
          </div>
        </v-flex>
      </v-layout>
    </div>

    <div v-if="user.type == 'Buyer'">
      <br><br>
      <v-layout>
        <v-flex xs6 offset-xs3>
          <div>
            <v-card v-for="tran in transaction" v-if="tran.trans.status == 'Sold'">
              <br>
              <v-card-title primary-title>
                <v-layout>
                  <v-card-actions>
                    <h6>สถานะ : </h6>
                    <h6 v-if="tran.trans.status == 'Sold'">&nbspSOLD</h6>
                  </v-card-actions>
                  <v-spacer></v-spacer>
                  <v-card-actions>
                    <h6>ผู้โพสการขาย : </h6>
                    <h6>&nbsp{{ tran.trans.sellerId }}</h6>
                  </v-card-actions>
                  <v-spacer></v-spacer>
                </v-layout>
                <v-flex xs12 style="text-align:center;">
                  <v-expansion-panel>
                    <v-expansion-panel-content ripple>
                      <div slot="header">
                        <h4>ขยะ</h4>
                      </div>
                      <v-card>
                        <v-card-text class="grey lighten-3">
                          <div v-for="w in tran.waste">
                            <h5>รายละเอียดขยะ:</h5>
                            <p>ประเภทขยะ: {{w.waste.type}}</p>
                            <p>ชื่อขยะ: {{w.waste.name}}</p>
                            <p>จำนวน: {{w.waste.amount}}</p>
                            <p>มูลค่ารวม: {{w.waste.totalPrice}}</p>
                          <hr>
                           
                          </div>
                        </v-card-text>
                      </v-card>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-flex>
              </v-card-title>
            </v-card>
            <br>
          </div>
        </v-flex>
      </v-layout>
    </div>

    <v-dialog v-model="update_store" fullscreen hide-overlay transition="dialog-bottom-transition" max-width="700">
      <UpdateStore :transaction="transaction_prop"></UpdateStore>
    </v-dialog>

  </div>
</template>
<script>
  import firebase from 'firebase';
  import axios from "axios";
  import UpdateStore from './update-store';

  export default {
    data() {
      return {
        user: '',

        transaction: [],
        location: [],

        profile_firebase: '',
        user_firebase: '',


        ob_arr: [],
        update_store: false,
        transaction_prop:'',

        tel_receiver:'',
      }
    },
    components:{
        UpdateStore,
    },
    methods : {
      UpdateStore(tran) {
        
        this.transaction_prop = tran;
        this.update_store = true;
      },
      confirmBuy(tid) {
          console.log(tid);
           swal({
          title: "ต้องการทำการซื้อขาย ?",
          text: "",
          type: "info",
          buttons: {
            cancel: true,
            confirm: true
          }
        }).then((confirmed) => {
          if (confirmed) {
            
             axios({
             method: 'post',
             url: '/transaction/updatestatusconfirm', 
             data: {
              TId : tid,
              Status : 'Confirm',
              }
              }).then((response) => {
                  console.log(response.data);
                  swal('','ตอบรับการซื้อขายเสร็จสิ้น !','success').then(() => {
                    location.reload();
                  });
              })

          }
        }).catch((error) => {
          console.log(error);
        });

      },
      finishBuy(sid,bid,wallet,tid) {

        swal({
          title: "ยืนยันการซื้อขายหรือไม่ ?",
          text: "",
          type: "info",
          buttons: {
            cancel: true,
            confirm: true
          }
        }).then((confirmed) => {
          if (confirmed) {
            
            axios({
                method: 'post',
                url: '/credittransaction/sendcredit',
                data: {
                  UId: sid,
                  Wallet: wallet,
                }
              }).then(() => {
                axios({
                  method: 'post',
                  url: '/credittransaction/updatecredit',
                  data: {
                    UId: bid,
                    Wallet: wallet,
                  }
                })
              }).then(() => {

                 axios({
                  method: 'get',
                  url: '/home/getuser/' + sid,
                  }).then((response) => {

                    this.tel_receiver = response.data.tel;

                  axios({
                      method: 'post',
                      url: '/credittransaction/createcredittransaction',
                      data: {
                        SenderId: bid,
                        ReceiverId: sid,
                        Amount: wallet,   
                        Date: new Date(),  
                        Tel: this.tel_receiver,           
                      }
                    }).then(() => {
                      axios({
                        method: 'post',
                        url: '/transaction/updatestatussold',
                        data: {
                          TId: tid,
                          Status:'Sold',
                        }
                      })
                    })
              })
              })
              .then(() => {
                swal("", "ทำรายการสำเร็จ !", "success")
                  .then(() => {
                    location.reload();
                  });
              })
              .catch((error) => {
                console.log(error);
              });
              
          }
        }).catch((error) => {
          console.log(error);
        });

          
      },
      DeleteStore(tid) {

        swal({
          title: "ต้องการลบโพสการขายหรือไม่ ?",
          text: "",
          type: "info",
          buttons: {
            cancel: true,
            confirm: true
          }
        }).then((confirmed) => {
          if (confirmed) {

            console.log(tid);

            axios({
              method: 'post',
              url: '/transaction/deletestore',
              data: {
                TId: tid,
              }
            }).then((response) => {
                console.log(response.data)
                swal('','ลบข้อมูลเสร็จสิ้น !','success').then(() => {
                  location.reload();
                });
            })

          }
        }).catch((error) => {
          console.log(error);
        });

      },
      DeleteTransaction(tid) {

        swal({
          title: "ต้องการลบโพสการขายหรือไม่ ?",
          text: "",
          type: "info",
          buttons: {
            cancel: true,
            confirm: true
          }
        }).then((confirmed) => {
          if (confirmed) {

            console.log(tid);

            axios({
              method: 'post',
              url: '/transaction/deletepost',
              data: {
                TId: tid,
              }
            }).then((response) => {
                console.log(response.data)
                swal('','ลบข้อมูลเสร็จสิ้น !','success').then(() => {
                  location.reload();
                });
            })

          }
        }).catch((error) => {
          console.log(error);
        });

      },
    },
    created() {

      firebase.auth().onAuthStateChanged((user) => {
        if (user) {
          this.user_firebase = user;
          this.photo_firebase = user.photoURL;

          axios({
              method: 'get',
              url: '/home/getuser/' + user.uid,
            })
            .then((response) => {

              this.user_data = response.data;


              this.user = this.user_data

            }).then(() => {
              axios({
                method: 'get',
                url: '/transaction/gettransaction/' + user.uid
              }).then((response) => {
                this.transaction = response.data;
                // console.log(this.transaction);
              })
            })

        }
      });

    }
  }

</script>

<style scoped>
  .notification-area {
    padding-top: 40px;
  }

</style>
