<template>
  <div>
    <v-app>
    <v-layout style="height:100%;">
      <v-card class="area-post">
        <v-toolbar dark color="green darken-1">
          <v-btn icon dark v-on:click="exit">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Post Garbage</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat v-on:click="PostGarbage">Confirm</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <div class="area-add-garbage">
          <h2>เพิ่มสินค้าของคุณ</h2>
          <br>
          <v-flex xs8 offset-xs2 style="width:100%; margin-top: 15px;">
            <v-text-field outline v-model="locations" append-icon="place"></v-text-field>
          </v-flex>

          <br>
          <br>
          <v-btn color="success" class="btn-right" v-on:click="AddGarbageMore">ADD GARBAGE</v-btn>
          <hr>
          <br>
          <v-layout row wrap>
            <v-flex xs3>
              <h5>TYPE</h5>
            </v-flex>
            <v-flex xs3>
              <h5>NAME</h5>
            </v-flex>
            <v-flex xs2>
              <h5>AMOUNT / Kg.</h5>
            </v-flex>
            <v-flex xs2>
              <h5>PRICE / Kg.</h5>
            </v-flex>
            <v-flex xs2>
              <h5>TOTAL PRICE</h5>
            </v-flex>
          </v-layout>
          <br>
          <v-layout row wrap>
            <v-flex xs3>
              <h5 v-for="type in this.type_array" v-bind:key="type">{{ type }}</h5>
            </v-flex>
            <v-flex xs3>
              <h5 v-for="name in this.name_array" v-bind:key="name">{{ name }}</h5>
            </v-flex>
            <v-flex xs2>
              <h5 v-for="amount in this.amount_array" v-bind:key="amount">{{ amount }}</h5>
            </v-flex>
            <v-flex xs2>
              <h5 v-for="price in this.price_array" v-bind:key="price">{{ price }} ฿</h5>
            </v-flex>
            <v-flex xs2>
              <h5 v-for="total_price in this.total_price_array" v-bind:key="total_price">{{ total_price }} ฿</h5>
            </v-flex>
          </v-layout>
          <br>
          <hr>
          <br>
          <v-layout row wrap>
            <v-flex xs3></v-flex>
            <v-flex xs3></v-flex>
            <v-flex xs2></v-flex>
            <v-flex xs2>
              <h5>TOTAL PRICE</h5>
            </v-flex>
            <v-flex xs2>
              <h5>{{ this.sum }} ฿</h5>
            </v-flex>
          </v-layout>
          <br>
          <hr>
          <br>
          <v-layout row wrap>
            <v-flex xs3>
              <v-select v-model="type" :items="type_value" label="Type" required v-on:change="SelectName"></v-select>
            </v-flex>
            <v-flex xs3>
              <v-select v-model="name" :items="temp" label="Name" required></v-select>
            </v-flex>
            <v-flex xs2>
              <v-text-field type="number" v-model="amount" label="Amount" required></v-text-field>
            </v-flex>
            <v-flex xs2>
              <v-text-field type="number" v-model="price" label="Price / Kg." required></v-text-field>
            </v-flex>
            <v-flex xs2>
              <h4 style="padding-top:15px;">{{ total_price = amount * price }} ฿</h4>
            </v-flex>
            <br>
            <v-flex>
              <hr>
              <br>
              <div>
                <input id="GarbageUploadFile" class="garbage_img" type="file" style="display:none" ref="garbage_img" v-on:change="pickFile" />
                <label for="GarbageUploadFile" style="border:1px solid gray; border-radius:1px; padding:5px 15px 5px 15px;">GARBAGE IMG</label>
              </div>
              <br>
              <v-layout row wrap>
               <v-flex v-for="n in garbage_img_array" :key="n" xs4 d-flex>
                  <v-img :src="n" width="200px" height="200px"></v-img>
               </v-flex>
              </v-layout>
            </v-flex>
            
          </v-layout>
        </div>
      </v-card>
    </v-layout>
    </v-app>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        type: '',
        type_value: ['แก้ว', 'กระดาษ', 'พลาสติก', 'เหล็ก', 'โลหะ'],
        name_value_glass: ['ขวดเบียร์ลีโอ (กล่อง)','ขวดหงษ์ทองแบน (กล่อง)','ขวดหงษ์ทองกลม (กล่อง)','แก้วรวม', 'แก้วขาว','แก้วชา'],
        name_value_paper: ['กระดาษน้ำตาล', 'กระดาษหนังสือพิมพ์','กระดาษขาวดำ','กระดาษรวม','กระดาษหนังสือเล่ม งดแฟ้มแข็ง'],
        name_value_plastic: ['PET ขวดใสมีฉลาก', 'PET ขวดใสไม่มีฉลาก','PET ถาดใส','PET ขวดสไปรท์ไม่มีฉลาก','สายรัดโปร่งแสง','หลอดพรีฟอร์มสีฟ้า'],
        name_value_steel: ['กระป๋อง', 'เหล็กบาง/เมทัลซีท','เหล็กหนา','เหล็กหล่อ'],
        name_value_metal: ['ทองเหลืองหนา', 'ทองแดงเส้นเล็ก','ทองแดงเส้นใหญ่ช็อต','สแตนเลส 301','อลูมิเนียมกระป๋องน้ำอัดลม','อลูมิเนียมกะทะดำ','อลูมิเนียมก้นกะทะไฟฟ้า'],
        name: '',
        value: 0,
        amount: 0,
        sum: 0,
        price:0,
        total_price: 0,
        normal_price: 0,
        temp: [],

        type_array: [],
        name_array: [],
        normal_price_array: [],
        amount_array: [],
        price_array:[],
        total_price_array: [],
        garbage_img_array: [],

        garbage_img: '',
        waste: '',
        waste_parse: '',
        waste_ar: [],
        lid: 0,
        ownerWaste:'',
        height:0,
      }
    },
    methods: {
      pickFile(e) {

        let reader = new FileReader();
        let garbage = document.getElementById('GarbageUploadFile').files[0];
        reader.onloadend = (garbage) => {
          this.garbage_img = reader.result;
        };
        reader.readAsDataURL(garbage);
      },

      exit() {
        swal({
          title: "ต้องการยกเลิกการทำรายการ ?",
          text: "",
          type: "info",
          buttons: {
            cancel: true,
            confirm: true
          }
        }).then((confirmed) => {
          if (confirmed) {
            location.reload();
          }
        }).catch((error) => {
          console.log(error);
        });
      },

      PostGarbage() {                                              

        swal({
          title: "ต้องการทำรายการหรือไม่ ?",
          text: "",
          type: "info",
          buttons: {
            cancel: true,
            confirm: true
          }
        }).then((confirmed) => {

       if (confirmed) {

         if(this.waste_ar == "") {
           swal("", "กรุณากรอกข้อมูลสินค้าทั้งหมดให้ถูกต้อง !", "error");
         } else {
         //Model Location
          console.log(this.user)
         axios({
           method: 'post',
           url: '/transaction/insertlocation', 
           data : {
             OwnerLocation: this.user,
             AddressString: this.locations,
             Latitude: this.lat_prop,
             Longtitude: this.lng_prop,
             type: 'https://www.img.in.th/images/72ac2fd21adaf84ed916a9e5de6442b1.png',
           }
         }).then((response) => {

           //Model Transaction
           this.lid = response.data.lId;

           axios({
           method: 'post',
           url: '/transaction/inserttransaction', 
           data: {
              Type:'Seller',
              Status: 'Sell',
              SellerId: this.user,
              TotalValue: this.sum,
              Date: new Date(),
              LocationID: this.lid,
           }
           }).then((response) => {

             //Model Waste

             for(var i = 0; i<this.waste_ar.length; i++)
             {
                this.waste_ar[i].Transactionid = response.data.tId
             }

              axios({
              method: 'post',
                url: '/transaction/insertgarbage',
                data: this.waste_ar,
              })
              .then((response) => {

                swal("", "ลงทะเบียนสินค้าสำเร็จ !", "success").then(() => {
                  location.reload();
                });

              })
              .catch((error) => {
                console.log(error);
              });

           })

         })

        }
        }
        }).catch((error) => {
          console.log(error);
        });

      },

      AddGarbageMore() {

        if(this.type == "" || this.name == "" || this.price == 0 || this.total_price == 0 || this.amount == 0 || this.garbage_img == "")
        {
            swal("", "กรุณากรอกข้อมูลสินค้าทั้งหมดให้ถูกต้อง !", "error");
        }else{

        //send to DB

        let wasted = {
          Name: this.name,
          Type: this.type,
          Amount: parseInt(this.amount),
          Price: parseInt(this.price),
          TotalPrice: parseInt(this.total_price),
          Img: this.garbage_img,
          Date: new Date(),
          OwnerWaste: this.user,
          Transactionid:0,
        }

        this.waste_ar.push(wasted);

        //show to front

        this.type_array.push(this.type);
        this.name_array.push(this.name);
        this.price_array.push(this.price);
        this.total_price_array.push(parseInt(this.total_price));
        this.amount_array.push(parseInt(this.amount));
        this.garbage_img_array.push(this.garbage_img);

        this.sum += parseInt(this.total_price);

        this.type = "";
        this.name = "";
        this.normal_price = 0;
        this.price = 0;
        this.amount = 0;
        this.total_price = 0;
        this.garbage_img = "";

        }

      },

      //clear data

      SelectName() {
        if (this.type == "แก้ว") {
          this.temp = this.name_value_glass;
        }
        if (this.type == "กระดาษ") {
          this.temp = this.name_value_paper;
        }
        if (this.type == "พลาสติก") {
          this.temp = this.name_value_plastic;
        }
        if (this.type == "เหล็ก") {
          this.temp = this.name_value_steel;
        }
        if (this.type == "โลหะ") {
          this.temp = this.name_value_metal;
        }
      },
      windowHeight () {
        this.height = window.innerHeight;
      },
    },
    props: ['lat_prop', 'lng_prop', 'user', 'locations'],
    created() {
        if (process.browser) { 
          this.height = window.innerHeight;
          window.addEventListener('resize', this.windowHeight);
        }
  }}
</script>

<style scoped>

  .area-post {
    width: 100%;
    height: 100%;
    background: white;
  }

  .area-add-garbage {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .btn-right {
    float: right;
    margin-top: -35px;
  }
</style>


