<template>
    <div>
    <v-app>
    <v-layout style="height:100%">
        <v-card class="area-post">
          <v-toolbar dark color="green darken-1">
            <v-btn icon dark v-on:click="exit">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Garbage Store</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat v-on:click="PostStore">Confirm</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <div class="area-add-store">
              <h2>เพิ่มร้านค้าของคุณ</h2>
              <br>
              <v-flex xs8 offset-xs2 style="width:100%; margin-top: 15px;">
      <v-text-field outline v-model="locations" append-icon="place"></v-text-field>
    </v-flex>
             
              <br>
              <hr>
              <br>
                <v-flex>
                    <v-img :src="store_img"></v-img>
                </v-flex>
                <v-flex>
                <br>
                <div> 
                    <input id="StoreUploadFile" class="store_img" type="file" style="display:none" ref="store_img" v-on:change="pickFile"/>
                    <label  for="StoreUploadFile" style="border:1px solid gray; border-radius:1px; padding:5px 15px 5px 15px;">PROFILE</label>                    
                </div>
                <v-text-field v-model="store_name" label="ชื่อร้าน" required></v-text-field>
                <v-text-field v-model="store_title" label="รายละเอียดร้าน" required></v-text-field>
                </v-flex>
          </div>
        </v-card>
    </v-layout>
    </v-app>
    </div>
</template>

<script>

import axios from 'axios';

export default {
    data() {
        return {
            store_img:'',
            store_name:'',
            store_title:'',
            height:0,
        }
    },
    methods: {
       
        pickFile(e) {
            
            let reader = new FileReader();
                let store = document.getElementById('StoreUploadFile').files[0];
                reader.onloadend = (store) => {
                    this.store_img = reader.result;
                };
                reader.readAsDataURL(store);
        },

        exit(){
            swal({
                    title: "ต้องการยกเลิกการทำรายการ ?",
                    text: "",
                    type: "info",
                    buttons: {
                    cancel: true,
                    confirm: true
                    }
                }).then((confirmed) => {
                    if(confirmed){
                        location.reload();
                    }
                }).catch((error) => {
                    console.log(error);
                });
        },

        PostStore(){

            if(this.store_img == "" || this.store_name == "" || this.store_title == "" || this.store_description == ""){
                swal("", "กรุณากรอกข้อมูลทั้งหมดให้ถูกต้อง !", "error");
            }else{

                swal({
                title: "ต้องการทำรายการหรือไม่ ?",
                text: "",
                type: "info",
                buttons: {
                    cancel: true,
                    confirm: true
                }
                }).then((confirmed) => {

                axios({
                method: 'post',
                url: '/transaction/insertstore',
                data: {
                    OwnerLocation: this.user,
                    AddressString: this.locations,
                    Latitude: this.lat_prop,
                    Longtitude: this.lng_prop,
                    type: 'https://www.img.in.th/images/0c7b3bb1bcd22c833964c53420c3bb19.png',
                    Name: this.store_name,
                    Title: this.store_title,
                    ProfileImg: this.store_img,
                }
                })
                .then((response) => {

                    var lId = response.data.lId

                    axios({
                    method: 'post',
                    url: '/transaction/inserttransaction', 
                    data: {
                        Type:'Buyer',
                        Status: 'Store',
                        BuyerId: this.user,
                        Date: new Date(),
                        LocationID: lId,
                    }
                    }).then(() => {
                        swal("", "ลงทะเบียนร้านค้าสำเร็จ !", "success").then(() => {
                        location.reload();
                        });
                    })

                })
                .catch((error) => {
                    console.log(error);
                });

            });
            }
        },
        windowHeight () {
        this.height = window.innerHeight;
      },
    },
    props:['lat_prop','lng_prop','user','locations'],
    created() {
        if (process.browser) { 
          this.height = window.innerHeight;
          window.addEventListener('resize', this.windowHeight);
        }
    }
}
</script>

<style scoped>

    .area-post{
        width:100%;
        height:100%;
        background:white;
    }

    .area-add-store{
        width:50%;
        margin:0 auto;
        text-align:center;
        padding-top:5%;
        padding-bottom:5%;
    }

</style>


