<template>
    
    <div class="profile-area">
        <div class="profile-area-head">
            <v-layout align-center justify-center row wrap>
                <v-flex>
                    <!-- <div v-for="n in user" v-if="n.uId === user_firebase.uid"> -->
                    <v-avatar size="150px" slot="activator" style="margin-left:15px;" v-if="profile != null && photo_firebase == null">
                        <img :src="profile">
                    </v-avatar>
                    <v-avatar size="150px" slot="activator" style="margin-left:15px;" v-if="profile != null && photo_firebase != null">
                        <img :src="profile">
                    </v-avatar>
                    <v-avatar size="150px" slot="activator" style="margin-left:15px;" v-if="profile == null && photo_firebase != null">
                        <img :src="photo_firebase">
                    </v-avatar>
                    <v-avatar size="150px" slot="activator" style="margin-left:15px;" v-if="profile == null && photo_firebase == null">
                        <img :src="require('../components/static/img/object/avatar.png')">
                    </v-avatar>
                    <!-- </div> -->
                </v-flex>
                <v-flex>
                        <h2>{{ this.name }}</h2>
                        <hr>
                        <h4>{{ this.tel }}</h4>
                </v-flex>
                <v-flex>
                    <br><br>
                        <v-btn outline color="indigo" @click="edit_profile = true">Edit Profile</v-btn>
                </v-flex>
            </v-layout>

            <br><br>
            <hr>
            
        </div>

        <v-dialog v-model="edit_profile" max-width="400">
            <EditProfile></EditProfile>
        </v-dialog>
    </div>

</template>

<script>
import firebase from 'firebase';
import axios from "axios";
import EditProfile from "./edit-profile";

export default {
    data(){
        return{
            user_firebase:'',
            photo:'',
            user:'',
            uid:'',
            edit_profile:false,

            profile:'',
            name:'',
            tel:'',
            photo_firebase:'',
        }
    },
    components: {
        EditProfile,
    },
    methods: {

    },

    created() {

        firebase.auth().onAuthStateChanged((user) => {
            if (user) {
            this.user_firebase = user;
            this.photo_firebase = user.photoURL;

            axios({
                    method: 'get',
                    url: '/home/getuser/' + user.uid,
                })
                .then((response) => {

                    this.user = response.data;

                            this.profile = this.user.profileImg;
                            this.name = this.user.name;
                            this.tel = this.user.tel;
          
                })
                .catch((error) => {
                    console.log(error);
                });

            }
        });
    }
}
</script>

<style scoped>

    .profile-area{
        width:60%;
        margin:0 auto;
    }

    .profile-area-head{
        width:100%;
        padding-top:100px;
        padding-bottom:50px;
        text-align:center;
    }

</style>


