<template>
  <div>

    <v-layout>

      <v-flex>
        <v-card>
          <div class="form-area">
            <h3>REGISTER</h3>
            <v-form ref="form" lazy-validation>
              <v-text-field v-model="email" name="email" label="Email" v-validate="'required|email'">
              </v-text-field>
              <p v-show="errors.has('email')" class="error">{{ errors.first('email') }}</p>

              <v-select v-model="type" :items="items" label="Type" v-validate="'required'" name="options"></v-select>
              <p v-show="errors.has('options')" class="error">{{ errors.first('options') }}</p>


              <v-text-field v-model="password" label="Password" name="password" v-validate="'required|min:6'" counter
                :append-icon="show_pass ? 'visibility_off' : 'visibility'" :type="show_pass ? 'text' : 'password'"
                @click:append="show_pass = !show_pass" ref="password"></v-text-field>
              <p v-show="errors.has('password')" class="error">{{ errors.first('password') }}</p>

              <v-text-field v-model="confirm_password" label="Password" name="confirmpassword" v-validate="'required|confirmed:password'"
                counter :append-icon="show_con_pass ? 'visibility_off' : 'visibility'" :type="show_con_pass ? 'text' : 'password'"
                @click:append="show_con_pass = !show_con_pass"></v-text-field>
              <p v-show="errors.has('confirmpassword')" class="error">{{ errors.first('confirmpassword') }}</p>

              <v-btn v-on:click="register">REGISTER</v-btn>
            </v-form>
          </div>
        </v-card>
      </v-flex>

    </v-layout>

  </div>
</template>

<script>
  import axios from 'axios';
  import firebase from 'firebase';
  import firebaseui from 'firebaseui';
  import {
    config
  } from '../helpers/firebaseConfig';
  

  export default {

    data() {
      return {

        email: '',
        password: '',
        confirm_password: '',
        type: '',
        show_pass: false,
        show_con_pass: false,
        user: '',

        items: ['Buyer', 'Seller']

      }
    },

    methods: {
      register() {

        this.$validator.validateAll().then(() => {



          const auth = firebase.auth();
          auth.createUserWithEmailAndPassword(this.email, this.password)
            .then((response) => {
              firebase.auth().onAuthStateChanged((user) => {
                if (user) {

                  axios({
                      method: 'post',
                      url: '/user/createuser',
                      data: {
                        UId: user.uid,
                        Name: "GuestName",
                        Email: user.email,
                        Wallet: "500",
                        Type: this.type,
                      }
                    })
                    .then((response) => {

                      swal("", "สมัครสมาชิกสำเร็จ !", "success").then(() => {
                        location.reload();
                      });

                    })
                    .catch((error) => {
                      console.log(error);
                    });
                }
              });
            })
            .catch((e) => {
              swal("", "ลงทะเบียนไม่สำเร็จ !", "error");
              console.log(e.message)
              return false;
            });
        })






      }
    }


  }

</script>


<style scoped>
  .form-area {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }

  .error {
    background-color: transparent !important;
    color: red;
  }

</style>
