<template>
  <div class="slides">
    <!-- swiper -->
    <div v-if="size > 414">
      <swiper :options="swiperOption">

        <swiper-slide>
          <div class="s1-title" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">เราทำอะไร ?</div>
          <div class="s1-text">
            <p data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">เราทำหน้าที่เป็นตัวกลางระหว่างผู้ซื้อ -
              ผู้ขาย ขยะรีไซเคิล<br>เพื่ออำนวยความสะดวกในการจัดการขยะและง่ายต่อการใช้งาน </p>
          </div>

          <img src="./static/img/slides/Banner.png" alt="" width="100%" id="img">
        </swiper-slide>
        <swiper-slide>
          <div class="s2-title">คุณเป็นใคร ?</div>
          <table class="slide-table">
            <tr>
              <td>
                <h2 class="s2-title-2">ผู้ขาย</h2>
              </td>
              <td>
                <h2 class="s2-title-2">ผู้ซื้อ</h2>
              </td>
            </tr>
            <tr>
              <td>
                <table class="slide-table-in">
                  <tr>
                    <td>Step 1</td>
                    <td>Step 2</td>
                    <td>Step 3</td>
                  </tr>
                  <tr>
                    <td><img src="./static/img/slides/sell-step-1.png" alt="" id="sl-img"></td>
                    <td><img src="./static/img/slides/sell-step-2.png" alt="" id="sl-img"></td>
                    <td><img src="./static/img/slides/sell-step-3.png" alt="" id="sl-img"></td>
                  </tr>
                  <tr>
                    <td>Description...</td>
                    <td>Description...</td>
                    <td>Description...</td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="slide-table-in">
                  <tr>
                    <td>Step 1</td>
                    <td>Step 2</td>
                    <td>Step 3</td>
                  </tr>
                  <tr>
                    <td><img src="./static/img/slides/buy-step-1.png" alt="" id="sl-img"></td>
                    <td><img src="./static/img/slides/buy-step-2.png" alt="" id="sl-img"></td>
                    <td><img src="./static/img/slides/sell-step-3.png" alt="" id="sl-img"></td>
                  </tr>
                  <tr>
                    <td>Description...</td>
                    <td>Description...</td>
                    <td>Description...</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <div class="slide-regis-bt">
                  <span class="s2-text-regis"><a @click="$modal.show('demo-register')">START NOW</a></span>
                </div>
              </td>
              <td>
                <div class="slide-regis-bt">
                  <span class="s2-text-regis"><a @click="$modal.show('demo-register')">START NOW</a></span>
                </div>
              </td>
            </tr>
          </table>

          <img src="./static/img/slides/Banner-3.png" alt="" width="100%">
        </swiper-slide>
        <div class="swiper-button-prev" slot="button-prev" id="slide-button-prev"><img src="./static/img/object/exit.png"
            alt="" id="sl-btn-exit"></div>
        <div class="swiper-button-next" slot="button-next" id="slide-button-next"><img src="./static/img/object/how.png"
            alt=""></div>
      </swiper>
    </div>

    <div v-if="size <= 414">
      <swiper :options="swiperOption">

        <swiper-slide>
          <div class="s1-title" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">เราทำอะไร ?</div>
          <div class="s1-text">
            <p data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">เราทำหน้าที่เป็นตัวกลาง <br>
              ระหว่างผู้ซื้อ - ผู้ขาย ขยะรีไซเคิล <br> เพื่ออำนวยความสะดวกในการจัดการขยะ <br> และง่ายต่อการใช้งาน </p>
          </div>

          <img src="./static/img/slides/Banner-mobile.png" alt="" width="100%" id="img">
        </swiper-slide>
        <swiper-slide>

          <div class="s2-title">คุณเป็นใคร ?</div>
          <table class="slide-table">
            <tr>
              <td>
                <h2 class="s2-title-2">ผู้ซื้อ</h2>
              </td>
            </tr>
            <tr>
              <td>
                <table class="slide-table-in">
                  <tr>
                    <td>Step 1</td>
                    <td>Step 2</td>
                    <td>Step 3</td>
                  </tr>
                  <tr>
                    <td><img src="./static/img/slides/buy-step-1.png" alt="" id="sl-img"></td>
                    <td><img src="./static/img/slides/buy-step-2.png" alt="" id="sl-img"></td>
                    <td><img src="./static/img/slides/sell-step-3.png" alt="" id="sl-img"></td>
                  </tr>
                  <tr>
                    <td>Description...</td>
                    <td>Description...</td>
                    <td>Description...</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <div class="slide-regis-bt">
                  <span class="s2-text-regis"><a @click="$modal.show('demo-register')">START NOW</a></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h2 class="s2-title-2">ผู้ขาย</h2>
              </td>
            </tr>
            <tr>
              <td>
                <table class="slide-table-in">
                  <tr>
                    <td>Step 1</td>
                    <td>Step 2</td>
                    <td>Step 3</td>
                  </tr>
                  <tr>
                    <td><img src="./static/img/slides/sell-step-1.png" alt="" id="sl-img"></td>
                    <td><img src="./static/img/slides/sell-step-2.png" alt="" id="sl-img"></td>
                    <td><img src="./static/img/slides/sell-step-3.png" alt="" id="sl-img"></td>
                  </tr>
                  <tr>
                    <td>Description...</td>
                    <td>Description...</td>
                    <td>Description...</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <div class="slide-regis-bt">
                  <span class="s2-text-regis"><a @click="$modal.show('demo-register')">START NOW</a></span>
                </div>
              </td>
            </tr>
          </table>

          <img src="./static/img/slides/Banner-mobile-2.png" alt="" width="100%">
        </swiper-slide>

        <div class="swiper-button-prev" slot="button-prev" id="slide-button-prev"><img src="./static/img/object/exit.png"
            alt="" id="sl-btn-exit"></div>
        <div class="swiper-button-next" slot="button-next" id="slide-button-next"><img src="./static/img/object/how.png"
            alt=""></div>

      </swiper>

    </div>

  </div>
</template>

<script>
  export default {
    props: ['stateNumber'],
    data() {
      return {
        swiperOption: {
          speed: 300,
          spaceBetween: 30,
          centeredSlides: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          },
        },
        size: 0,
      }
    },

    methods: {

      windowMax() {
        this.size = window.innerWidth;
      }

    },

    created() {
      if (process.browser) {
        this.size = window.innerWidth;
        window.addEventListener('resize', this.windowMax);
      }
    },
    destroyed() {
      if (process.browser) {
        this.size = window.innerWidth;
        window.removeEventListener('resize', this.windowMax);
      }
    },

  }

</script>

<style scoped>

</style>
