<template>

  <div>
    <div v-if="size > 1000">
      <h1 style="text-align:center; color:green;">Test มากกว่า 1000</h1>
    </div>
    <div v-if="size < 1000">
      <h1 style="text-align:center; color:red;">Test น้อยกว่า 1000</h1>
    </div>
  </div>

</template>

<script>
  export default {

    data() {
      return {
        size: 0,
      }
    },
    methods: {
      windowMax() {
        this.size = window.innerWidth;
      }
    },
    created() {
      if (process.browser) {
        this.size = window.innerWidth;
        window.addEventListener('resize', this.windowMax);
      }
    },
    destroyed() {
      if (process.browser) {
        this.size = window.innerWidth;
        window.removeEventListener('resize', this.windowMax);
      }
    }

  }

</script>
