<template>
    <div>
    <v-app>
    <v-layout>
        <v-card class="area-post">
          <v-toolbar dark color="green darken-1">
            <v-btn icon dark v-on:click="exit">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Garbage Store</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat v-on:click="UpdateStore">Confirm</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <div class="area-add-store">
              <h2>แก้ไขร้านค้าของคุณ</h2>
              <br>
              <v-flex xs8 offset-xs2 style="width:100%; margin-top: 15px;">
                <v-text-field outline v-model="transaction.address" append-icon="place"></v-text-field>
              </v-flex>
             
              <br>
              <hr>
              <br>
                <v-flex>
                    <v-img :src="transaction.imgStore"></v-img>
                </v-flex>
                <v-flex>
                <br>
                <div> 
                    <input id="UpdateStoreUploadFile" class="store_img" type="file" style="display:none" ref="store_img" v-on:change="pickFile"/>
                    <label  for="UpdateStoreUploadFile" style="border:1px solid gray; border-radius:1px; padding:5px 15px 5px 15px;">PROFILE</label>                    
                </div>
                <v-text-field v-model="transaction.nameStore" label="ชื่อร้าน" required></v-text-field>
                <v-text-field v-model="transaction.title" label="รายละเอียด" required></v-text-field>
                </v-flex>
          </div>
        </v-card>
    </v-layout>
    </v-app>
    </div>
</template>

<script>

import axios from 'axios';
import firebase from 'firebase';

export default {
    data() {
        return {
            store_img:'',
            store_name:'',
            store_tel:'',
            store_description:'',

            user:'',
            locations:'',
            lid:'',
            address:'',
        }
    },
    props:['transaction'],
    methods: {
       
        pickFile(e) {
            
            let reader = new FileReader();
                let store = document.getElementById('UpdateStoreUploadFile').files[0];
                reader.onloadend = (store) => {
                    this.transaction.imgStore = reader.result;
                };
                reader.readAsDataURL(store);
        },

        exit(){
            swal({
                    title: "ต้องการยกเลิกการทำรายการ ?",
                    text: "",
                    type: "info",
                    buttons: {
                    cancel: true,
                    confirm: true
                    }
                }).then((confirmed) => {
                    if(confirmed){
                        location.reload();
                    }
                }).catch((error) => {
                    console.log(error);
                });
        },

        UpdateStore(){

            if(this.transaction.address == "" || this.transaction.imgStore == "" || this.transaction.nameStore == "" || this.transaction.title == ""){
                swal("", "กรุณากรอกข้อมูลทั้งหมดให้ถูกต้อง !", "error");
            }else{

                swal({
                title: "ต้องการทำรายการหรือไม่ ?",
                text: "",
                type: "info",
                buttons: {
                    cancel: true,
                    confirm: true
                }
                }).then((confirmed) => {

                if(confirmed){
                axios({
                method: 'post',
                url: '/transaction/updatestore',
                data: {
                    LId: this.transaction.trans.locationID,
                    AddressString: this.transaction.address,
                    Name: this.transaction.nameStore,
                    Title: this.transaction.title,
                    ProfileImg: this.transaction.imgStore,
                }
                })
                .then((response) => {

                    swal("", "อัพเดตข้อมูลร้านค้าสำเร็จ !", "success").then(() => {
                    location.reload();
                    });

                })
                .catch((error) => {
                    console.log(error);
                });
                }
            });
            }
        },
    },
    created() {

        firebase.auth().onAuthStateChanged((user) => {
            if (user) {
            this.user_firebase = user;
            this.photo_firebase = user.photoURL;

            axios({
                    method: 'get',
                    url: '/home/getuser',
                })
                .then((response) => {

                    var user = response.data;
                    this.user = user.uId; 

                })
                .catch((error) => {
                    console.log(error);
                });

            }
        });

    }
}
</script>

<style scoped>

    .area-post{
        width:100%;
        height:100%;
        background:white;
    }

    .area-add-store{
        width:50%;
        margin:0 auto;
        text-align:center;
        padding-top:5%;
        padding-bottom:5%;
    }

</style>


