<template>
    <v-layout persistent>
      <v-flex>
        <v-card>
          <div class="form-area">
            <h3>คุณเป็นใคร ?</h3>
            <v-form ref="form" lazy-validation>
                <v-select v-model="type" :items="items" label="Type"></v-select>
                <v-btn v-on:click="RegisterWithGoogle">REGISTER</v-btn>  
            </v-form>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
</template>

<script>
    import firebase from 'firebase';
    import Vue from "vue";
    import axios from "axios";

export default {
    
    data() {
        return {
            items: ['Buyer', 'Seller'],
            dialog:false,
            type:'',
        }
    },
    methods:{
        RegisterWithGoogle(){
            if(this.type != '')
            {
                firebase.auth().onAuthStateChanged((user) => {
                    if (user) {
                    
                    axios({
                          method: 'post',
                          url: '/user/createuser',
                          data: {
                            UId: user.uid,
                            Name: "GuestName",
                            Email: user.email,
                            Wallet: "500",
                            Type: this.type,
                          }
                        })
                        .then((response) => {

                          swal("","สมัครสมาชิกสำเร็จ !", "success").then(() => {
                              location.reload();
                          });

                        })
                        .catch((error) => {
                          console.log(error);
                        });

                    }

                });
            }else{
                swal("","กรุณาเลือกประเภทที่คุณต้องการ","error");
            }
        },
    }
}
</script>

<style scoped>
  .form-area {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }

</style>

