<template>
  <div>
    <v-app>
    <v-layout style="height:100%;">
      <v-card class="area-post">
        <v-toolbar dark color="green darken-1">
          <v-btn icon dark v-on:click="exit">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>View Post</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat v-on:click="buyGarbage">buy</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <div class="area-add-garbage">
          <!-- -->
          <div style="width:60%; margin:0 auto; text-align:center;">
          <v-img :src="tran.profile" style="width:120px; border-radius:90px; margin:0 auto; margin-bottom:20px;"></v-img>
            <h2>{{ tran.name }}</h2>
            <h4>{{ tran.tel }}</h4>
            <hr>
            <br>
            </div>
          <h2>สินค้าที่วางขาย</h2>
          <br>
          <v-flex xs8 offset-xs2 style="width:100%; margin-top: 15px;">
            <div style="font-size:16px;">{{ tran.address }}</div>
          </v-flex>

          <hr>
          <br>
          <v-layout row wrap>
            <v-flex xs3>
              <h5>TYPE</h5>
            </v-flex>
            <v-flex xs3>
              <h5>NAME</h5>
            </v-flex>
            <v-flex xs2>
              <h5>AMOUNT / Kg.</h5>
            </v-flex>
            <v-flex xs2>
              <h5>PRICE / Kg.</h5>
            </v-flex>
            <v-flex xs2>
              <h5>TOTAL PRICE</h5>
            </v-flex>
          </v-layout>
          <br>
          <v-layout row wrap>
            <v-flex xs3>
              <h5 v-for="type in tran.waste">{{ type.w_type }}</h5>
            </v-flex>
            <v-flex xs3>
              <h5 v-for="name in tran.waste">{{ name.w_name }}</h5>
            </v-flex>
            <v-flex xs2>
              <h5 v-for="amount in tran.waste">{{ amount.w_amount }}</h5>
            </v-flex>
            <v-flex xs2>
              <h5 v-for="price in tran.waste">{{ price.w_price }} ฿</h5>
            </v-flex>
            <v-flex xs2>
              <h5 v-for="total in tran.waste">{{ total.w_total_price }} ฿</h5>
            </v-flex>
          </v-layout>
          <br>
          <hr>
          <br>
          <v-layout row wrap>
            <v-flex xs3></v-flex>
            <v-flex xs3></v-flex>
            <v-flex xs2></v-flex>
            <v-flex xs2>
              <h5>TOTAL PRICE</h5>
            </v-flex>
            <v-flex xs2>
              <h5> {{ tran.waste[0].t_total }} ฿</h5>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
               <v-flex xs4 d-flex v-for="img in tran.waste">
                  <v-img :src="img.w_img" width="200px" height="200px"></v-img>
                  <!-- {{  tran.waste[0].w_img }} -->
               </v-flex>
          </v-layout>
          <br>
          <hr>
          <br>
        </div>
      </v-card>
    </v-layout>
    </v-app>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
      data() {
          return {

          }
      },
      methods : {
        exit() {
        swal({
          title: "ต้องการยกเลิกการทำรายการ ?",
          text: "",
          type: "info",
          buttons: {
            cancel: true,
            confirm: true
          }
        }).then((confirmed) => {
          if (confirmed) {
            location.reload();
          }
        }).catch((error) => {
          console.log(error);
        });
        },
        buyGarbage() {

                          swal({
                          title: "ต้องการทำรายการหรือไม่ ?",
                          text: "",
                          type: "info",
                          buttons: {
                            cancel: true,
                            confirm: true
                          }
                        }).then((confirmed) => {
                          if (confirmed) {
                            
                            axios({
                            method: 'post',
                            url: '/transaction/updatestatusselling', 
                            data: {
                              TId : this.tran.trans[0].t_id,
                              Status : 'Selling',
                              BuyerId : this.user
                            }
                            }).then((response) => {
                                  console.log(response.data);
                                  swal('','ร้องขอการซื้อเสร็จสิ้น !','success').then(() => {
                                    location.reload();
                                  });
                            })

                          }
                        }).catch((error) => {
                          console.log(error);
                        });

        }
      },
      props:['tran','user'],
}
</script>

<style scoped>

.area-post {
    width: 100%;
    height: 100%;
    background: white;
  }

  .area-add-garbage {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .btn-right {
    float: right;
    margin-top: -35px;
  }

</style>


