<template>

  <div class="wallet-area">

    <div class="wallet-area-balance">
      <v-layout align-center justify-center row wrap>
        <v-flex>
          <v-img :src="require('../components/static/img/object/feature-3.png')" alt="" width="50%" class="v-img"></v-img>
        </v-flex>
        <v-flex>
          <div class="balance">
            <h4>ยอดเงินในระบบ</h4>
            <h1 style="padding-top:15px">{{ wallet }} ฿</h1>
          </div>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center row wrap>

        <v-dialog v-model="dialog" persistent max-width="600px">
          <v-btn slot="activator" color="primary" dark>โอน</v-btn>
          <v-card style="padding:30px;">
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <span>ยอดเงินในวอลเล็ท</span>
                    <h1 style="padding-top:15px">{{ wallet }} ฿</h1>
                  </v-flex>
                  <hr>
                  <v-flex xs12>
                    <span>เบอร์โทรศัพท์มือถือผู้รับ</span>
                    <v-text-field v-model="tel" label="" placeholder="08XXXXXXXX" name="tel" v-validate="'required|min:10'"></v-text-field>
                    <p v-show="errors.has('tel')" class="error">{{ errors.first('tel') }}</p>
                  </v-flex>
                  <v-flex xs12>
                    <span>จำนวนเงิน</span>
                    <v-text-field v-model="amount" label="฿" v-validate="{ required: true, regex: /^([0-9]+)$/ }" name="credit"></v-text-field>
                    <p v-show="errors.has('credit')" class="error">{{ errors.first('credit') }}</p>
                    
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red" flat @click="dialog = false">ยกเลิก</v-btn>
              <v-btn round color="success" dark v-on:click="transfer">โอน</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </div>
    <div>
      <hr>
    </div>
    <div class="wallet-area-history">
      <v-layout align-center justify-center row wrap>
        <v-flex>
          <h2>History</h2>
          <br>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center row wrap>
        <v-flex>
          <v-card style="padding:10px;" v-for="h in history">
            
           <p>วันเวลาทำรายการ:{{ h.date }}</p>
            <br>       
            <p>เบอร์โทรศัพท์ผู้รับ:{{ h.tel }}</p>
            <br>
            <p>จำนวนเงิน:{{ h.amount }}</p>

          </v-card>
        </v-flex>
      </v-layout>
      <br>
    </div>

  </div>

</template>

<script>
  import firebase from 'firebase';
  import axios from "axios";

  export default {
    data() {
      return {
        wallet: 0,
        user_firebase: '',
        amount: '',
        tel: '',
        user: '',
        uid_sender: '',
        uid_receiver: '',
        dialog: false,
        history:[]
      }
    },
    created() {

      firebase.auth().onAuthStateChanged((user) => {
        if (user) {
          this.user_firebase = user;

          axios({
              method: 'get',
              url: '/home/getuser/' + user.uid,
            })
            .then((response) => {

              this.user = response.data;

                  this.wallet = this.user.wallet;
                  this.uid_sender = this.user_firebase.uid;
                   
            }).then(()=>{
              axios({
              method: 'get',
              url: '/credittransaction/gethistory/' + user.uid,
            })
            .then((response) => {

                this.history = response.data;
              // console.log(response.data)
            
            })
            })
        }
      });
    },

    methods: {
      transfer() {
        this.$validator.validateAll().then(()=>{
        var tel = this.tel.toString();
        axios({
            method: 'get',
            url: '/credittransaction/getreceiver',
          })
          .then((response) => {

            this.user = response.data;

            var i;
            for (i = 0; i < this.user.length; i++) {
              if (this.user[i].tel == this.tel) {
                this.uid_receiver = this.user[i].uId;
              }
            }
          })
          .then(() => {
            if(this.amount > this.wallet){
              swal("","จำนวนเงินไม่เพียงพอ","error")
            }else{
            axios({
                method: 'post',
                url: '/credittransaction/sendcredit',
                data: {
                  UId: this.uid_receiver,
                  Wallet: this.amount,
                }
              }).then(() => {
                axios({
                  method: 'post',
                  url: '/credittransaction/updatecredit',
                  data: {
                    UId: this.uid_sender,
                    Wallet: this.amount,
                  }
                })
              }).then(() => {
                axios({
                      method: 'post',
                      url: '/credittransaction/createcredittransaction',
                      data: {
                        SenderId: this.uid_sender,
                        ReceiverId: this.uid_receiver,
                        Amount: this.amount,
                        Tel: this.tel,
                        Date: new Date()
                      }
                    })
              })
              .then(() => {
                swal("", "ทำรายการสำเร็จ!", "success")
                  .then(() => {
                    location.reload();
                  });
              })
              .catch((error) => {
                console.log(error);
              });
}
          })
      })

      }
    }
  }

</script>


<style>
  .wallet-area {
    width: 60%;
    margin: 0 auto;
  }

  .wallet-area-balance {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
  }

  .wallet-area-history {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
  }
    .error {
    background-color: transparent !important;
    color: red;
  }
</style>
