/*_customLayout*/

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Kanit', sans-serif;
}

.bg{
  background:red;
}

.area-full{
    width:100%;
    height:100%;
}

.area-free{
  width:100%;
  height:45px;
}

/*home page*/

.home-page-area-green{
  width:100%;
  height:100%;
  background:#699445;
  padding-top:40px;
  padding-bottom:40px;
}

.home-page-area-gray{
  width:100%;
  height:100%;
  background:#d8d8d8;
  padding-top:40px;
  padding-bottom:40px;
}

.home-page-area-gray-2{
  width:100%;
  height:100%;
  background:#fafafa;
  padding-bottom:40px;
}

#area-font{
  margin-bottom:60px;
}

.home-page-content{
  width:70%;
  margin:0 auto;
  text-align:center;
  margin-top:40px;
}

/*navbar*/

#area-icon{
    margin-right:30px;
}

.navbar-free-area{
    width:100%;
    height:60px;
}

#navbar-font{
    color:black;
    text-decoration: none;
}

#navbar-font-logo{
    color:black;
    text-decoration: none;
    font-size:20px;
}

#hr{
    border-left:1px solid black;
    height:40%;
    margin-left:10px;
    margin-right:10px;

}

#hr-bottom{
    border-bottom:1px solid black;
    width:80%;
    margin-top:10px;
    margin-bottom:10px;
    margin:0 auto;
    opacity:0.5;
}

/*Slide Home*/

#sl-btn-exit{
    width:30px;
}

.swiper-slide .s1-title {
    color:#000;
    font-size: 70px;
    font-weight: 300;
    position:absolute;
    text-align:center;
    width:100%;
    margin-top:3%;
    transition:0.5s all;
  }

  .swiper-slide .s1-text {
    color:#000;
    font-size: 28px;
    line-height: 1.3;
    position:absolute;
    text-align:center;
    width:100%;
    margin-top:11%;
    transition:0.5s all;
  }

  .swiper-slide .s2-title {
    color:#000;
    font-size: 55px;
    font-weight: 300;
    position:absolute;
    text-align:center;
    width:100%;
    margin-top:2%;
    transition:0.5s all;
  }

  #slide-button-next{
    width:250px;
    margin-right:43%;
    margin-top:5%;
    transition:0.5s all;
  }

  #slide-button-next img{
      width:250px;
  }

  #slide-button-prev{
    width:30px;
    display:block;
    margin-left:48.5%;
    margin-top:10.5%;
    transition:0.5s all;
  }
  
  .s2-text-regis{
    border:2px solid black;
    padding:5px;
    padding-left:30px;
    padding-right:30px;
    transition:0.5s all;
    opacity:0.5;
  }

  .s2-text-regis:hover{
    opacity:1;
  }

  .s2-text-regis a{
    color:black;
    text-decoration: none;
    cursor: pointer;
  }

  .s2-title-2{
    font-size:28px;
    margin-bottom:40px;
    text-align:center;
}

  .slide-regis-bt{
    width:100%;
    height:100%;
    margin-top:10%;
    text-align:center;
  }

  .slide-table{
    position:absolute;
    margin-top:6%;
    width:100%;
    text-align:center;
  }

  .slide-table-in{
    width:80%;
    margin:0 auto;
    text-align:center;
    opacity:0.8;
    transition:0.5s all;
  }

  .slide-table-in tr td{
      text-align:center;
  }

  .slide-table-in:hover{
    opacity:1;
  }

  #sl-img{
    width:180px;
    padding:3px;
}

  #img{
    width:100%;
    height:100%;
  }

/*slide*/

#img-full {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}

/*index*/

.v-img{
  display:block;
  margin:0 auto;
}

.index-content-area{
    width:100%;
}

.index-content-data{
    width:100%;
    height:100%;
    padding-top:4%;
    padding-bottom:4%;
}

.index-content-data table{
    text-align: center;
    width:70%;
    margin:0 auto;  
}

.index-content-data table tr td{
    text-align:center;
}

#index-content-feature-h3{
    margin-top:6%;
    margin-bottom:3%;
}

.index-btn-feature{
    width:100%;
    height:100%;
    background:none;
    color:black;
    padding-top:3.8%;
    padding-bottom:3.9%;
    text-align:center;
    font-size:20px;
}

.index-btn-feature a{
    opacity:0.5;
    transition:0.5s all;
}

.index-btn-feature a:hover{
    opacity:1;
}

/*footer*/

.footer{
    width:100%;
    margin:0 auto;
    background:#131313;
    color:#FFF;
}

#footer-link{
    color:#FFF;
    transition:0.5s all;
    text-decoration: none;
}

#footer-link:hover{
    color:#3d7709;
}

.footer-social-area{
    width:100%;
    height:100%;
    padding-top:1%;
    padding-bottom:1%;
    background:#e5e5e5;
}

.footer-social-data{
    width:50%;
    margin:0 auto;
}

.footer-social-data table{
    width:40%;
    margin:0 auto;
}

.footer-social-data table tr td{
    text-align:center;
}

.copyright{
    width:100%;
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
    background:black;
    color:white;
    text-align:center;
}

.copyright a{
    color:white;
    text-decoration: none;
    transition:0.5s all;
}

.copyright a:hover{
    color:#017863;
}

/*---------Responsive---------*/

@media screen and (max-width: 1600px) {

/*Slide Home*/

.swiper-slide .s1-title {
    font-size: 60px;
  }

  .swiper-slide .s1-text {
    font-size: 26px;
  }

  .swiper-slide .s2-title {
    font-size: 55px;
  }

  #slide-button-next{
    width:250px;
    margin-right:42%;
    margin-top:6%;
  }

  #slide-button-next img{
    width:250px;
}

  #slide-button-prev{
    margin-top:10.5%;
  }

  .slide-regis-bt{
    margin-top:3%;
  }

  .slide-table{
    margin-top:4%;
  }

  .slide-table-in{
    width:80%;
  }

  .slide-table-in tr td{
      font-size:18px;
  }

  .slide-regis-bt{
      margin-top:50px;
  }

  #sl-img{
      width:150px;
      padding:3px;
  }

  .s2-title-2{
      margin-top:30px;
      font-size:28px;
      margin-bottom:25px;
  }

  .s2-text-regis {
    font-size:20px;
    padding:3px 15px 3px 15px;
  }

/*slide*/

#slide-obj-5 img{
    width:120px;
    height:120px;
}

}

@media screen and (max-width: 1360px) {
    
/*Slide Home*/

.swiper-slide .s1-title {
    font-size: 50px;
  }

  .swiper-slide .s1-text {
    font-size: 24px;
  }

  .swiper-slide .s2-title {
    margin-top:0%;
    font-size: 40px;
  }

  #slide-button-next{
    width:200px;
    margin-right:42%;
    margin-top:6%;
  }

  .slide-regis-bt{
    margin-top:5%;
  }

  .slide-table{
    margin-top:1%;
  }

  .slide-table-in{
    width:80%;
  }

  .s2-text-regis {
    font-size:14px;
  }
    
}

@media screen and (max-width: 1240px) {

/*slide*/

#slide-obj-5 img{
    width:100px;
    height:100px;
}

#slide-button-next{
    width:200px;
    margin-right:42%;
    margin-top:6%;
  }

  #slide-button-prev{
      margin-left:48%;
  }

#slide-button-next img{
    width:200px;
}

.s2-text-regis {
    font-size:12px;
  }

  /*footer*/

  .footer-social-data table{
    width:60%;
}

}

@media screen and (max-width: 1024px) {

/*Slide Home*/

.swiper-slide .s1-title {
    font-size: 40px;
  }

  .swiper-slide .s1-text {
    font-size: 20px;
  }

  .swiper-slide .s2-title {
    font-size: 35px;
  }

  #slide-button-next{
    margin-right:37%;
    margin-top:6%;
  }

  #slide-button-next img{
    width:150px;
}

  #slide-button-prev{
    margin-top:10.5%;
  }

  .slide-regis-bt{
    margin-top:5%;
  }

  .slide-table{
    margin-top:0%;
  }

  .slide-table-in{
    width:100%;
  }

  #sl-img{
      width:100px;
  }

  #sl-btn-exit{
      width:20px;
  }

  .s2-title-2{
      font-size:23px;
      margin-bottom:20px;
  }

  .s2-text-regis {
    font-size:12px;
  }

  /*slide*/

    #slide-obj-5 img{
        width:80px;
        height:80px;
    }
  
}

@media screen and (max-width: 768px) {

/*Slide Home*/

#sl-btn-exit{
    width:15px;
}

.swiper-slide .s1-title {
    margin-top:1%;
    font-size: 30px;
  }

  .swiper-slide .s1-text {
    margin-top:10%;
    font-size: 16px;
  }

  .swiper-slide .s2-title {
    margin-top:-1%;
    font-size: 25px;
  }

  #slide-button-next{
    margin-right:30.5%;
    margin-top:6%;
  }

  #slide-button-next img{
    width:120px;
}

  #slide-button-prev{
    margin-top:10.5%;
  }

  .slide-regis-bt{
    margin-top:3%;
  }

  .slide-table{
    margin-top:0%;
  }

  .slide-table-in{
    width:100%;
  }

  .slide-table-in tr td{
      font-size:12px;
  }

  #sl-img{
      width:80px;
      padding:3px;
  }

  .s2-title-2{
      font-size:16px;
      margin-bottom:10px;
  }

  .s2-text-regis {
    border:1px solid black;
    font-size:10px;
    padding:3px 12px 3px 12px;
  }

  /*slide*/

    #slide-obj-5 img{
        width:80px;
        height:80px;
    }

    /*footer*/

    .footer-social-data table{
        width:80%;
    }

}

@media screen and (max-width: 414px) {

    /*Slide Home*/
    
    #sl-btn-exit{
        width:35px;
    }
    
    .swiper-slide .s1-title {
        margin-top:100px;
        font-size: 35px;
      }
    
      .swiper-slide .s1-text {
        margin-top:180px;
        font-size: 20px;
      }
    
      .swiper-slide .s2-title {
        margin-top:20px;
        font-size: 25px;
      }
    
      #slide-button-next{
        margin-right:23%;
        margin-top:0px;
      }
    
      #slide-button-next img{
        width:200px;
    }
    
      #slide-button-prev{
        margin-left:43%;
        margin-top:230px;
      }
    
      .slide-regis-bt{
        margin-top:3%;
      }
    
      .slide-table{
        margin-top:50px;
      }
    
      .slide-table-in{
        width:100%;
      }
    
      .slide-table-in tr td{
          font-size:12px;
      }
    
      #sl-img{
          width:80px;
          padding:3px;
      }
    
      .s2-title-2{
          font-size:25px;
          margin-bottom:20px;
      }
    
      .s2-text-regis {
        border:1px solid black;
        font-size:12px;
        padding:3px 12px 3px 12px;
      }
    
      /*slide*/
    
        #slide-obj-5 img{
            width:80px;
            height:80px;
        }

        /*footer*/

        .footer-social-data table{
            width:100%;
        }
    
    }
    
