<template>
  <div id="app">
    <v-app light>
      <main>
        <section>
          <v-parallax :src="require('../components/static/img/aboutPage/Banner-1.jpg')" height="380">
            <v-layout column align-center justify-center>
              <h1 class="black--text text--lighten-2 mb-2">บริการช่วยเหลือ</h1>
            </v-layout>
          </v-parallax>

          <div id="content">
            <v-layout row wrap class="my-5">
              <v-flex xs12 sm4>
                <v-card class="elevation-0">
                  <v-card-media height="45px" class="text-xs-center">
                    <v-icon x-large class="brown--text">monetization_on</v-icon>
                  </v-card-media>
                  <v-card-title primary-title>
                    <div class="headline text-xs-center" style="width:100%">ปัญหาการซื้อ - ขาย</div>
                  </v-card-title>
                  <v-card-text>
                    พวกเรามุ้งเน้นสร้างสรรค์ระบบเพื่ออำนวยความสะดวกเพื่อ
                    การหารายได้เสริมจะง่ายเพียงปลายนิ้ว และมีความเป็นกลางสูง
                    หากการซื้อ - ขาย ของท่านไม่เป็นธรรม เราพร้อมดูแลท่าน
                  </v-card-text>
                </v-card>
              </v-flex>

              <v-flex xs12 sm4>
                <v-card class="elevation-0">
                  <v-card-media height="45px" class="text-xs-center">
                    <v-icon x-large class="brown--text">group</v-icon>
                  </v-card-media>
                  <v-card-title primary-title>
                    <div class="headline text-xs-center" style="width:100%">สังคมไร้ขยะ</div>
                  </v-card-title>
                  <v-card-text>
                    ระบบการซื้อ - ขายขยะ มีอีกหนึ่งจุดประสงค์ที่มากกว่าการเป็นตัวกลาง
                    คือ เราต้องการที่จะสร้างสังคมการจัดการขยะ เพื่อสภาพแวดล้อมและสังคมที่น่าอยู่
                    และเพื่อปลูกจิตสำนึกให้คนรุ่นหลังหันมาจัดการขยะกันมากขึ้น
                  </v-card-text>
                </v-card>
              </v-flex>

              <v-flex xs12 sm4>
                <v-card class="elevation-0">
                  <v-card-media height="45px" class="text-xs-center">
                    <v-icon x-large class="brown--text">settings</v-icon>
                  </v-card-media>
                  <v-card-title primary-title>
                    <div class="headline text-xs-center" style="width:100%">ปัญหาการใช้งานทั่วไป</div>
                  </v-card-title>
                  <v-card-text>
                    การใช้งานระบบ เรามีความต้องการให้ผู้ใช้ทุกเพศทุกวัยสามารถใช้งานระบบได้
                    เราจึงออกแบบการใช้งานให้ง่ายและสะดวกที่สุด และพวกเราต้องการพัฒนาระบบให้ดียิ่งขึน
                    เราพร้อมรับฟัง ข้อเสนอแนะจากท่าน
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </div>
        </section>

        <section>
          <v-parallax :src="require('../components/static/img/aboutPage/Banner-2.jpg')" height="380">

          </v-parallax>
        </section>

        <section>
          <div id="content">
            <v-layout row wrap class="my-5">
              <v-flex xs12 text-xs-center>
                <v-card class="elevation-0">
                  <v-card-title primary-title>
                    <div class="headline text-xs-center" style="width:100%">ติดต่อเรา</div>
                  </v-card-title>
                  <v-layout row justify-space-around>
                    <v-flex xs12 sm3>
                      <v-btn large fab icon to="facebook.com">
                        <v-icon x-large class="brown--text">fab fa-facebook-f</v-icon>
                      </v-btn>
                    </v-flex>
                    <v-flex xs12 sm3>
                      <v-btn large fab icon to="facebook.com">
                        <v-icon x-large class="brown--text">fab fa-line</v-icon>
                      </v-btn>
                    </v-flex>
                    <v-flex xs12 sm3>
                      <v-btn large fab icon to="facebook.com">
                        <v-icon x-large class="brown--text">fab fa-instagram</v-icon>
                      </v-btn>
                    </v-flex>

                  </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
            <v-form v-model="valid">
              <v-container text-xs-center>
                <h2>แจ้งปัญหาการใช้งานระบบ</h2>
                <v-layout justify-center>
                  <v-flex xs6>
                    <v-text-field v-model="name" label="ชื่อ" required></v-text-field>
                    <v-text-field v-model="email" label="E-mail" required></v-text-field>
                    <v-flex xs12>
                      <v-textarea outline name="input-7-4" label="ปัญหาที่ต้องการแจ้ง" v-model="content"></v-textarea>
                    </v-flex>
                    <div>
                      <v-btn color="green" @click="insertReport">Primary</v-btn>
                    </div>

                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </div>
        </section>

        <section>
          <v-parallax :src="require('../components/static/img/aboutPage/Banner-3.jpg')" height="500">
            <v-layout column align-center justify-center>
              <div class="headline white--text text-xs-center">Do not trash your money</div>
            </v-layout>
          </v-parallax>
        </section>



      </main>
    </v-app>
  </div>
</template>

<script>
  import Vue from "vue";
  import {
    mapMutations
  } from "vuex";
  import axios from "axios";

  export default {
    data() {
      return {
        name: '',
        email:'',
        content:''
      };
    },
    methods: {
      insertReport() {
        axios({
          method: "post",
          url: "/admin/createreport",
          data: {
            Name: this.name,
            Email: this.email,
            Content: this.content
          }
        })
          .then((response) => {
            console.log(response);

            swal('','ขอบคุณสำหรับคำแนะนำครับ','success').then(()=>{
              location.reload();
            })

            this.name = '';
            this.email = '';
            this.content = '';
          })
          .catch((response) => {
            console.log(error);
          });
      }
    }
  };
  

</script>

<style scoped>
  @media (min-width: 800px) {
    .toolbar__title {
      margin-left: 15%;
    }

    #content {
      width: 80%;
      margin: auto;
    }

    #footer-layout {
      width: 70% !important;
      margin: auto;
    }
  }

  #footer-layout {
    width: 100%;
  }

  #subtitle {
    font-weight: 200 !important;
  }


  #footer {
    overflow: auto;
  }

  footer {
    overflow: auto;
  }

  a {
    color: #fff;
  }

</style>
