<template>
    <div>
        <v-toolbar color="#3CB371">
        <v-toolbar-title>Admin Control Panel</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn flat @click="page = 1">EditProfile</v-btn>
      <v-btn flat @click="page = 2">Market Price</v-btn>
      <v-btn flat @click="page = 3">Buyer Transaction</v-btn>
    </v-toolbar-items>
  </v-toolbar>
    <EditProfile v-show="page === 1"></EditProfile>
    <MarketPrice v-show="page === 2"></MarketPrice>
    <BuyerTransaction v-show="page === 3"></BuyerTransaction>
    </div>
</template>

<script>
import EditProfile from 'components/adminEditProfile'
import MarketPrice from 'components/adminMarketPrice'
import BuyerTransaction from 'components/adminBuyerTransaction'

export default {
    data(){
        return{
            page:1
        }
    },
    components:{
            EditProfile,
            MarketPrice,
            BuyerTransaction,
        }
}
</script>

<style>

</style>
