<template>
  <div id="app">

    <v-app>
      <nav-menu></nav-menu>
      <router-view></router-view>
    </v-app>

  </div>
</template>

<script>
  import {
    mapGetters,
    mapMutations
  } from 'vuex'

  import NavMenu from 'components/nav-menu'
  import footerBottom from 'components/footer-bottom'

  export default {
    data() {
      return {

      }
    },

    components: {
      NavMenu,
      footerBottom
    },

    // computed: {
    //   ...mapGetters(['getNav'])
    // },

    methods: {
      ...mapMutations(['changeNav']),

    }

  }

</script>

<style>
</style>
