<template>
  <div id="app">

    <v-parallax height="600" :src="require('../components/static/img/slides/banner-5.jpg')">
      <v-layout align-center column justify-center>
    <h1 class="black--text display-3 font-weight-thin mb-4">เราทำอะไร ?</h1>
        <h4 class="black--text headline">เราทำหน้าที่เป็นตัวกลางระหว่างผู้ซื้อ - ผู้ขาย
          ขยะรีไซเคิลเพื่ออำนวยความสะดวกในการจัดการขยะและง่ายต่อการใช้งาน</h4> <br><br>
        <v-btn outline color="indigo" @click="login = true">GET STARTED</v-btn>
      </v-layout>
    </v-parallax>

    <div class="market-price" style="width:80%; margin:0 auto;">
      <v-container text-xs-center>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card-text>
                  <h3>ประเภทขยะ</h3>
                </v-card-text>
            </v-flex>
            <div style="width:70%; margin:0 auto;">
              <v-layout>
                <v-flex xs12 sm5 md1></v-flex>
                <v-flex xs12 sm5 md2>
                    <v-btn color="green" dark @click="normal_price_area = 1">แก้ว</v-btn>
                </v-flex>
                <v-flex xs12 sm5 md2>
                    <v-btn color="green" dark @click="normal_price_area = 2">กระดาษ</v-btn>
                </v-flex>
                <v-flex xs12 sm5 md2>
                    <v-btn color="green" dark @click="normal_price_area = 3">พลาสติก</v-btn>
                </v-flex>
                <v-flex xs12 sm5 md2>
                    <v-btn color="green" dark @click="normal_price_area = 4">เหล็ก</v-btn>
                </v-flex>
                <v-flex xs12 sm5 md2>
                    <v-btn color="green" dark @click="normal_price_area = 5">โลหะ</v-btn>
                </v-flex>
                <v-flex xs12 sm5 md1></v-flex>
              </v-layout>
            </div>
            <div style="width:80%; margin:0 auto;">
              <v-container fluid>
              <v-layout>
                <v-flex xs8>
                    <v-card dark tile flat color="green darken-2">
                      <v-card-text>ชื่อประเภทขยะ</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs4>
                    <v-card dark tile flat color="green darken-4">
                      <v-card-text>ราคาวันนี้ / กิโลกรัม</v-card-text>
                    </v-card>
                </v-flex>
              </v-layout>
              <v-layout v-show="normal_price_area === 1" v-for="waste in waste_ar" v-if="waste.type == 'แก้ว'">
                <v-flex xs8>
                  <v-card dark tile flat color="grey lighten-3">
                    <v-card-text style="color:black;">{{ waste.name }}</v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs4>
                  <v-card dark tile flat color="grey lighten-2">
                    <v-card-text style="color:black;">{{ waste.value }} บาท</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-layout v-show="normal_price_area === 2" v-for="waste in waste_ar" v-if="waste.type == 'กระดาษ'">
                <v-flex xs8>
                  <v-card dark tile flat color="grey lighten-3">
                    <v-card-text style="color:black;">{{ waste.name }}</v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs4>
                  <v-card dark tile flat color="grey lighten-2">
                    <v-card-text style="color:black;">{{ waste.value }} บาท</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-layout v-show="normal_price_area === 3" v-for="waste in waste_ar" v-if="waste.type == 'พลาสติก'">
                <v-flex xs8>
                  <v-card dark tile flat color="grey lighten-3">
                    <v-card-text style="color:black;">{{ waste.name }}</v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs4>
                  <v-card dark tile flat color="grey lighten-2">
                    <v-card-text style="color:black;">{{ waste.value }} บาท</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-layout v-show="normal_price_area === 4" v-for="waste in waste_ar" v-if="waste.type == 'เหล็ก'">
                <v-flex xs8>
                  <v-card dark tile flat color="grey lighten-3">
                    <v-card-text style="color:black;">{{ waste.name }}</v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs4>
                  <v-card dark tile flat color="grey lighten-2">
                    <v-card-text style="color:black;">{{ waste.value }} บาท</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-layout v-show="normal_price_area === 5" v-for="waste in waste_ar" v-if="waste.type == 'โลหะ'">
                <v-flex xs8>
                  <v-card dark tile flat color="grey lighten-3">
                    <v-card-text style="color:black;">{{ waste.name }}</v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs4>
                  <v-card dark tile flat color="grey lighten-2">
                    <v-card-text style="color:black;">{{ waste.value }} บาท</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              
              </v-container>
            </div>
        </v-layout>
      </v-container>
    </div>

    <div class="home-page-area-green">
      <div class="home-page-content">
        <v-layout align-center justify-center>
          <h4 class="white--text headline" id="area-font">ฟังก์ชั่นการทำงานของเว็บไซต์</h4>
        </v-layout>

        <v-layout align-center justify-center row wrap>
          <v-flex>
            <v-img :src="require('../components/static/img/object/feature-1.png')" alt="" width="100px" class="v-img"></v-img>
            <div id="index-content-feature-h3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
              <h3 style="color:white;">ระบบซื้อ & ขาย ขยะรีไซเคิล</h3>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <p style="color:white;">Description...</p>
            </div>
          </v-flex>
          <v-flex>
            <v-img :src="require('../components/static/img/object/feature-2.png')" alt="" width="100px" class="v-img"></v-img>
            <div id="index-content-feature-h3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
              <h3 style="color:white;">ระบุตำแหน่งขยะของคุณ</h3>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <p style="color:white;">Description...</p>
            </div>
          </v-flex>
          <v-flex>
            <v-img :src="require('../components/static/img/object/feature-3.png')" alt="" width="100px" class="v-img"></v-img>
            <div id="index-content-feature-h3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
              <h3 style="color:white;">ระบบกระเป๋าสตางค์</h3>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <p style="color:white;">Description...</p>
            </div>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <div class="home-page-area-gray">
      <div class="home-page-content">
        <v-layout align-center justify-center>
          <h4 class="black--text display-1">ผู้ขาย</h4>
        </v-layout>

        <div class="area-free"></div>

        <v-layout align-center justify-center row wrap>
          <v-flex class="text-xs-center">
            <v-img :src="require('../components/static/img/slides/sell-step-1.png')" alt="" width="400px" class="v-img"></v-img>
          </v-flex>
          <v-flex>
            <div id="index-content-feature-h3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
              <h3>ใช้แอพพลิเคชั่นระบุตำแหน่งของขยะรีไซเคิลที่ต้องการขาย</h3>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <p>Description...</p>
            </div>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <div class="home-page-area-gray-2">
      <div class="home-page-content">
        <v-layout align-center justify-center row wrap>
          <v-flex>
            <div id="index-content-feature-h3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
              <h3>รอการตอบรับจากผู้ซื้อ</h3>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <p>Description...</p>
            </div>
          </v-flex>
          <v-flex class="text-xs-center">
            <v-img :src="require('../components/static/img/slides/sell-step-2.png')" alt="" width="400px" class="v-img"></v-img>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <div class="home-page-area-gray">
      <div class="home-page-content">
        <v-layout align-center justify-center row wrap>
          <v-flex class="text-xs-center">
            <v-img :src="require('../components/static/img/slides/sell-step-3.png')" alt="" width="400px" class="v-img"></v-img>
          </v-flex>
          <v-flex>
            <div id="index-content-feature-h3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
              <h3>รับเงินได้ง่าย ๆ</h3>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <p>Description...</p>
            </div>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <div class="home-page-area-gray-2">
      <div class="home-page-content">
        <v-layout align-center justify-center>
          <h4 class="black--text display-1">ผู้ซื้อ</h4>
        </v-layout>

        <v-layout align-center justify-center row wrap>
          <v-flex>
            <div id="index-content-feature-h3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
              <h3>ใช้แอพพลิเคชั่นค้นหาขยะรีไซเคิล</h3>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <p>Description...</p>
            </div>
          </v-flex>
          <v-flex class="text-xs-center">
            <v-img :src="require('../components/static/img/slides/buy-step-1.png')" alt="" width="400px" class="v-img"></v-img>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <div class="home-page-area-gray">
      <div class="home-page-content">
        <v-layout align-center justify-center row wrap>
          <v-flex class="text-xs-center">
            <v-img :src="require('../components/static/img/slides/buy-step-2.png')" alt="" width="400px" class="v-img"></v-img>
          </v-flex>
          <v-flex>
            <div id="index-content-feature-h3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
              <h3>รอการตอบรับจากผู้ขาย</h3>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <p>Description...</p>
            </div>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <div class="home-page-area-gray-2">
      <div class="home-page-content">
        <v-layout align-center justify-center row wrap>
          <v-flex>
            <div id="index-content-feature-h3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
              <h3>รับขยะที่มากขึ้นจากระบบของเรา</h3>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
              <p>Description...</p>
            </div>
          </v-flex>
          <v-flex class="text-xs-center">
            <v-img :src="require('../components/static/img/slides/buy-step-3.png')" alt="" width="400px" class="v-img"></v-img>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <foo></foo>

    <v-dialog v-model="login" max-width="700">
      <Login></Login>
    </v-dialog>

  </div>
</template>

<script>
  import axios from 'axios';
  import Slides from 'components/Slides'
  import Navbar from 'components/nav-menu'
  import foo from 'components/footer-bottom'
  import Login from 'components/login'
  import Test from 'components/Test'
  import Loading from 'components/loading'


  export default {
    components: {
      Slides,
      Navbar,
      foo,
      Test,
      Login,
      Loading,
    },

    data() {
      return {
        size: 0,
        data:'',
        login:false,
        waste_ar:[],
        normal_price_area:1,
      }
    },
    methods: {
      test() {
        console.log('test');
      },

      windowMax() {
        this.size = window.innerWidth;
      },

    },
    created() {
      if (process.browser) {
        window.addEventListener('scroll', this.handleScroll);

        this.size = window.innerWidth;
        window.addEventListener('resize', this.windowMax);
      }

    axios({
      method:'get',
      url:'marketprice/selectmarketpriceall',
    }).then((response) => {
      console.log(response.data)
      this.waste_ar = response.data;
    })

    },
    destroyed() {
      if (process.browser) {
        window.removeEventListener('scroll', this.handleScroll);

        this.size = window.innerWidth;
        window.removeEventListener('resize', this.windowMax);
      }
    }
  }

</script>
