<template>
  <div id="app">

    <nav-loged></nav-loged>
    <Maps v-show="getNavLoged === 1"></Maps>
    <message v-show="getNavLoged === 2"></message>
    <notification v-show="getNavLoged === 3"></notification>
    <wallet v-show="getNavLoged === 4"></wallet>
    <profile v-show="getNavLoged === 5"></profile>
    <Admin v-show="getNavLoged === 6"></Admin>

    <v-dialog v-model="user_type" persistent max-width="450">
      <UserType></UserType>
    </v-dialog>

  </div>
</template>

<script>
  import firebase from 'firebase';
  import Vue from "vue";
  import axios from "axios";
  import Maps from "components/Maps";
  import message from "components/message";
  import notification from "components/notification";
  import NavLoged from 'components/nav-loged';
  import wallet from 'components/wallet';
  import profile from 'components/profile';
  import UserType from 'components/user-type';
  import Admin from 'views/admin';
  import {
    mapGetters
  } from 'vuex';

  export default {
    data() {
      return {
        firstName: '',
        lastName: '',
        user:'',
        check_user:0,
        user_type:false,
      };
    },
    components: {
      Maps,
      message,
      notification,
      NavLoged,
      wallet,
      profile,
      UserType,
      Admin
    },
    computed: {
      ...mapGetters([
        'getNavLoged'
      ])
    },

    methods: {

    },

    created() {

       firebase.auth().onAuthStateChanged((user) => {
              if (user) {
                this.user_firebase = user;
                this.photo_firebase = user.photoURL;

                axios({
                    method: 'get',
                    url: '/home/getuser/' + user.uid,
                })
                .then((response) => {

                    this.user = response.data.uId;
         
                        if(this.user == this.user_firebase.uid)
                        {
                            this.check_user = 1;
                        }
                    
                    if(this.check_user != 1)
                    {
                      this.user_type = true;
                    }
                    
                })
                .catch((error) => {
                    console.log(error);
                });

              }
            });

    }
  };

</script>
