<template>
  <div id="news">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div style="text-align: center;">News Page</div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</template>
<script>
  /*  export default {
      data() {
        return {
          test: ''
        };
      },

      methods: {
        
          sendToController: function() {
            axios({
              method: 'post',
              url: '/news/index',
              data:{
                'TestSend': this.test
              }
            })
            .then(function(respone){
              console.log(response);
            })
            .catch(function(error){
              console.log(error);
            });
          }
        }
      }*/

</script>
